[2016-10-18 04:19] niccolox opened #1 "polyglot persistence possible with bolt_sips?"
how do you feel about multi database connections?

i.e. polyglot persistence

its possible with mysql and postgres apparently

http://geoffreylessel.com/2016/connecting-to-multiple-databases-with-ecto/

[2016-10-18 04:19] niccolox commented on #1
?

[2016-10-18 04:21] niccolox commented on #1
another approach
https://edmz.org/personal/2016/03/09/multiple_databases_with_ecto_and_phoenix.html

[2016-10-18 17:04] florinpatrascu commented on #1
You can use Bolt.Sips and any other Ecto repos, in the same app - if I understand correctly, your question?!

[2016-10-19 20:23] niccolox commented on #1
I guess I am asking for an example of how postgrex and bolt_sips would hang together

I'll leave that for now, you answered my initial question and opened up all sorts of possibilities

[2016-10-19 20:23] #1 closed, assigned to nobody

[2016-10-23 16:17] florinpatrascu commented on #1
check this project: [asarode/thoughtshare](https://github.com/asarode/thoughtshare), for inspiration. See the [config/dev.exs](https://github.com/asarode/thoughtshare/blob/master/config/dev.exs), where there is a Postgresql repo and a Neo4j.Sips one. HTH

[2016-10-31 01:15] niccolox commented on #1
thanks for this ! very cool

[2016-10-31 23:05] vic opened #4 "README improvements."
I'm thinking of doing the following improvements to the README.md

# Installation

- Just indicate the standard way of declaring a mix dependency.
 the example for the _github_ and _local_ dependency should be removed just to keep documentation concise.

- Adapt the `Add the bolt_sips dependency the applications list` section.
 remove the `mod: {Bolt.Sips.Application, []}` part as `Bolt.Sips.Appli

[2016-11-01 01:22] florinpatrascu commented on #4
Sure thing, thank you.

Re: Application - you're right, that was the intention. Bolt.Sips.start_link, was advertised mostly for testing or for more specific use cases. More than that, please take a look at this: [commit](https://github.com/CollabRx/callisto/commit/f72e281ff5aba55c6cf9e97f5d19ff91472d6991), for Callisto. After that commit, largely inspired by Ecto, using Neo4j.Sips (the HTTP based

[2016-11-04 10:11] vic opened #5 "Dependency on boltex fork"
Is there still any reason to depend on `florinpatrascu/boltex` instead of `mschae/boltex` ?

mschae/boltex#10 has been merged and would like to remove the TODO I had once we depend on the orignal boltex code.

[2016-11-04 10:16] vic commented on #4
Ok, will work on a branch for these README changes.

Regarding the ecto-like repo, yeah, I also had something like that on my boltex fork from previous week, the main motivation was that users could have many connections to different neo4j servers (dunno if someone really needs something like that right now). But I'd go for keeping it simple and once someone needs to connect and have two "repos" s

[2016-11-04 11:51] florinpatrascu commented on #5
Hi @vic - I forked Boltex for two main reasons: to have a stable release I could depend on and to allow Boltex itself to cover the remaining works - as illustrated by @mschae's todo list (see his [README](https://github.com/mschae/boltex/blob/master/README.md) w/o adding more pressure with my own specific functional requirements, as at that time the both drivers were developed almost in parallel :

[2016-11-04 11:58] florinpatrascu commented on #4
Awesome, thank you!

re: connections to different servers. Yeah, let's keep it simple, also b/c I couldn't find a realistic scenario where segregating the server roles with a simple HAProxy would not work; a solution which obviously doesn't need any support from bolt_sips, as it stands. Also, the Neo4j clustering support is young and personally I still need to learn more about it before I can have

[2016-11-04 14:07] mschae commented on #5
Hey,

you are always welcome to use a fork although I found it bothersome to keep up to date.

You could work off of my dbconnection branch right now and see if it suits your needs. If not I'd be very happy to hear about it and keep improving it.
If it helps I can also start releasing 1.0.0alpha and beta releases.

Whatever is easiest for you, I definitely strive to keep the boltex branch as stabl

[2016-11-04 18:00] florinpatrascu commented on #5
Many thanks, @mschae! I'll try to dive into this later tonight, after work, and see how it's going. If the dbconnection works, and I am sure it will work, then I'll have to remove my poolboy code and delegate the connectivity to boltex, which ideally is the way it should be; have no interest in maintaining an external fork. I did that just as a safety buffer, until you got a chance to add a connec

[2016-11-05 03:40] migbot opened #6 "module Bolt.Sips is not available"
I followed the minimalist configuration from the README and receive the following error:

`iex(1)> {:ok, _p} = Bolt.Sips.start_link(host: "localhost")`
`** (UndefinedFunctionError) function Bolt.Sips.start_link/1 is undefined (module Bolt.Sips is not available)    Bolt.Sips.start_link([host: "localhost"])
`

Also, `iex -S mix` fails:
`=INFO REPORT==== 4-Nov-2016::20:39:19 ===`
`application: logger

[2016-11-05 12:49] florinpatrascu commented on #6
Is this a Phoenix project? If yes, please try to explicitly add the following dependency: `{:boltex, github: "florinpatrascu/boltex"}`, to your `mix.exs` file.

We are working on a new release which will also resolve this glitch. Please let us know if this is fixing your issue.

[2016-11-05 12:54] florinpatrascu commented on #6
Also check this project: https://github.com/florinpatrascu/bolt_movies_elixir_phoenix, as a possible helper, in case you're just starting using Bolt.Sips. HTH

[2016-11-05 21:40] florinpatrascu commented on #5
Hi @mschae,

I started to refactor bolt_sips and I am using now your `add-dbconnection` branch; see  [bolt_sips/boltex_w_dbconn](https://github.com/florinpatrascu/bolt_sips/tree/boltex_w_dbconn),in my bolt_sips repo . Everything is working fine, but **without a pool** (when using de default: `DBConnection.Connection`)

However, when I am trying to delegate the pool to `DBConnection.Poolboy`, I am

[2016-11-05 21:43] florinpatrascu commented on #5
BTW @vic, this branch conforms to [mschae/boltex#10](https://github.com/mschae/boltex/pull/10) since it is using the boltex from @mschae's new branch, and the tests are  passing (except when using a connection pool, but that's another issue) 👍

[2016-11-05 22:18] florinpatrascu commented on #5
@mschae - sorry, you don't have to check bolt_sips. I made a few minor changes to your `add-dbconnection` branch, please see this gist containing the patch [florinpatrascu/0001-attempt-to-use-Poolboy.patch](https://gist.github.com/florinpatrascu/f39ede4f6bd5b6e130301c9aad43c39d)   and I can see the same error when running the test from boltex.

[2016-11-05 22:37] mschae commented on #5
Hey @florinpatrascu - sorry that error is really nondescript. I'll let the DBConnection maintainers know!

The way you are trying to integrate poolboy won't work. You need to check out connections you can run your queries on.

Try this:

[code]

[2016-11-05 22:52] florinpatrascu commented on #5
Thanks for the tip, @mschae! I am more familiar with using Poolboy directly, than through DBConn. Will try this, thanks again! So, Boltex will not use a pool? Not finding the pattern above anywhere in the Boltex code.

[2016-11-05 22:54] #4 closed, assigned to nobody

[2016-11-05 22:57] mschae commented on #5
Not sure I understand... Where would boltex use a pool? Maybe I'll add tests but the beauty of DBConnection is that I merely write a driver, make it DBConnection compliant and they worry about properly implementing different pooling strategies, etc. Checkout Postgrex, all they do is pass the options down (which I might as well - but then what's the gain?).

The DBConnection branch is still experim

[2016-11-05 23:02] florinpatrascu commented on #5
I thought you're planning to encapsulate the DBConnection and export its functionality via a Boltex api, therefore managing the pool  "behind the scenes" :) That way one will use only Boltex, not DBConnection directly, but I understand your point, thank you for clarifying this.

[2016-11-05 23:32] mschae commented on #5
No worries. I don't want to wrap DBConnection - the user should choose what Pool they want to use etc.

I might provide connect and query functions analogous to Postgrex - not sure yet... :)

[2016-11-06 00:44] florinpatrascu commented on #5
Makes sense :)

I'll keep my pool implementation around for awhile, and focus on integrating with Boltex as is. @mschae, do you have an ETA for merging the DBConnection branch and pushing a new Boltex build to Hex? Thanks again!

[2016-11-07 12:01] florinpatrascu commented on #5
After spending a fair amount of time past weekend with integrating and debugging the merger of bolt_sips and Boltex-DBConn, I decided to use the original, dare to say: raw Boltex, by including its core in Bolt.Sips and manage the connectivity myself. I hope I won't regret this decision :(

This is because after I thought I stabilized the merge (work in the: boltex_w_dbconn branch) I started to see

[2016-11-07 12:01] #5 closed, assigned to nobody

[2016-11-07 12:52] florinpatrascu commented on #6
Hey @migbot - any updates?

[2016-11-07 13:22] mschae commented on #5
@florinpatrascu Sorry to hear that the integration was not as straightforward as I'd hoped. If you could elaborate on those "very odd errors" - maybe even with stacktraces, queries and error messages - I could look into those.

Either way do note that the DBConnection implementation was to be considered alpha. I noted that multiple times.

Thanks

[2016-11-07 13:40] florinpatrascu commented on #5
@mschae - no worries, I understood exactly the alpha status, but I thought I can manage the integration, eventually sending back some positive news. It didn't turn that way mostly because of my lack of understanding about DBConn internal functionality. No blame on you, don't worry :) With the little I understood, about DBConn, I realized that maybe I don't needed it for now, the pool I implemented

[2016-11-07 14:04] mschae commented on #5
Hey @florinpatrascu, thanks for elaborating. Any chance you can push up a branch with those intermittently failing tests so I can investigate?

I added an example on how to use the DBConnection - maybe it will help others trying to integrate Boltex:
https://github.com/mschae/boltex/tree/add-dbconnection/examples/pool_example

Thanks for your feedback!

[2016-11-07 14:18] florinpatrascu commented on #5
Sure, I have a "most" stable version in this branch: https://github.com/florinpatrascu/bolt_sips/tree/boltex_w_dbconn. I'll check the examples later on, thank you for providing them!

[2016-11-07 18:22] florinpatrascu commented on #6
Awesome! Thank you for your feedback and we hope you find Bolt.Sips useful for your Neo4j projects. Cheers!

[2016-11-07 18:22] #6 closed, assigned to nobody

[2016-12-22 16:22] LawJolla opened #8 "Error Connecting to Remote DB"
Thank you for all of your hard work!  I'm a huge fan of Neo4J, and it's because of this project that I can use Elixir.

However, being new to Elixir, I'm not sure what I'm doing wrong or how to read this stack trace.  I'm trying to connect to GrapheneDB and get the following error:

[code]

My config:

[code]

Any ideas?

[2016-12-22 16:32] ivanpetrovic commented on #8
Hi,

I think you don't need to specify the protocol bolt:// in the hostname.
Just use hostname: "hobby.dbs.graphenedb.com",

[2016-12-22 16:35] LawJolla commented on #8
Thanks for the reply!  Without the protocol, it still gives the same error.

I'm able to connect to my localhost Neo4J instance.

[2016-12-22 16:41] florinpatrascu commented on #8
Thank you for your kind words. Indeed, you shouldn't specify the bolt protocol in the host name, as the Bolt.Sips driver presumes Bolt and works only with the Bolt protocol. Can you specify the remote host by its IP address? Or maybe the bolt protocol on that host is not the standard one? I'll will look tonight at this, as I am not familiar with the provider you're using. Thank you both for the fe

[2016-12-22 16:47] LawJolla commented on #8
Thanks for the quick response!

I don't think there's anything non-standard about the protocol.  Graphene is one of the largest certified Neo providers along with Graph Story.  I'd be surprised if they weren't supporting it correctly.

I will see if I can specify the host by remote IP.  They don't show that in their configs.

To violate every GitHub no no, but for the sake of fast trouble shooting

[2016-12-22 23:19] florinpatrascu commented on #8
Sorry to disappoint, @lawjolla, but I don't have a quick solution for this issue.

graphene.db is encrypting the communication and Bolt.Sips is not yet provisioned for that; I'm using :gen_tcp, for socket connections. The error you saw is basically due to graphene terminating the unencrypted connection, and they're doing the right thing.

I will start working on this, but can't say categorically w

[2016-12-22 23:26] LawJolla commented on #8
Awesome!  Thanks for looking into it and the explanation.  I'll remove my credentials in the interim. :)

[2016-12-23 12:24] nateless opened #9 "Getting unpack error"
I'm getting:

[code]

For this query: `USING PERIODIC COMMIT LOAD CSV WITH HEADERS FROM \"file:/import_1482495188_5.csv\" AS row MERGE (:A {aid: toInteger(row.aid), name: row.name})`
which can take up to 20 seconds to process.

[2016-12-23 13:25] florinpatrascu commented on #9
yes, I didn't provisioned the driver for that particular error: `:timeout`, thank for reporting it. I'm gonna fix this while working on #8 - unrelated. Not being convinced the timeout is related to the driver though?!

[2016-12-23 13:45] nateless commented on #9
Hey, I wonder whether it has been triggered by @recv_timeout    1_000 ? And if query took more than 1 second, will it be terminated or no?

[2016-12-23 13:55] florinpatrascu commented on #9
Possibly. I'll refactor the code to use the configurable :timeout param, the one you can define in the config files. I overlooked that when I imported the code from Boltex.

[2016-12-23 14:54] florinpatrascu commented on #9
please check the with_tls branch, the timeout will be the one you define in the config files or the default: 15 seconds. HTH

[2016-12-23 14:59] florinpatrascu commented on #9
@nateless - do you also have the log for the error above? Just curious if it was properly logged. ty

[2016-12-24 18:17] florinpatrascu commented on #8
Hey @LawJolla  - I believe I have a good Bolt.Sips candidate for you, to try out with your remote Neo4j  server at graphenedb, after you finish the eggnog :) Please use the [with_tls](https://github.com/florinpatrascu/bolt_sips/tree/with_tls) branch; configuration details in the [CHANGELOG](https://github.com/florinpatrascu/bolt_sips/blob/with_tls/CHANGELOG.md)

I still have to fix the Travis CI n

[2016-12-24 22:35] sntran commented on #8
Thank you so much! I was deploying my app with Graphene today and encountered the same issue. So glad that you have just made the update just at the right time.

I do have a few feedbacks:

- Because `hostname` option takes a full URI now, maybe we would want to use `url` option instead, to be the same as `neo4j-sips` and Ecto?
- Similarly, maybe `ssl` can be used instead of `secure`, so the  same

[2016-12-24 22:55] florinpatrascu commented on #8
Thank you for the feedback, @sntran.

I changed the `:secure` option name to: `:ssl`, as you suggested. There's a new commit available.

Changing the hostname to `url` will require a bit of work, as I intend to support the both of them. When `:url` will be provided, I'll parse the string and will look for the port value too. But I am not sure I can do this today, sorry. Definitely in the next days

[2016-12-27 16:07] LawJolla commented on #8
It works!!  Really impressive job.  I wish I had a clue how to replicate such magic. 👍

I also had a compile struggle, but eventually overcame.  (Needed brew install cmake)

Thank you for your hard work!

[2016-12-27 16:57] florinpatrascu commented on #8
@lawjolla - thank you so much for your very kind words. I wish it was real magic, but it's just the ability to maintain a functional balance while seating on the shoulders of giants :) My work relies on other open source projects, and I'd be a lot less efficient w/o them. Many thanks again!!

I'll close this issue as soon as I can tame Travis and make it pass, and immediately after I'll publish th

[2016-12-28 19:45] florinpatrascu commented on #8
New version (0.1.4) available at [Hex.pm](https://hex.pm/packages/bolt_sips/0.1.4). Next, will add support for getting the connection details from a `url`, if provided. Thank you all for your feedback and support!

[2016-12-28 19:45] #8 closed, assigned to nobody

[2016-12-28 19:46] florinpatrascu commented on #9
new version: `0.1.4`, available at [Hex.pm](https://hex.pm/packages/bolt_sips/0.1.4)

[2016-12-28 19:46] #9 closed, assigned to nobody

[2016-12-29 10:53] albertoperdomo commented on #8
I'm one of the founders at GrapheneDB.

I just became aware of this issue thread and wanted to thank @florinpatrascu and everyone else involved in this, for improving the driver and making it work with TLS & GrapheneDB. 👏 .

[2016-12-29 14:26] florinpatrascu commented on #8
@albertoperdomo - thank you so much for your kind words. GrapheneDB being a very valuable resource for us, I am very happy the Elixir users can now use it with Bolt and in a secure mode. And thank you for the free tier too, that helped a lot with the tests and while debugging!

[2016-12-30 18:23] florinpatrascu commented on #8
New version (0.1.5) available at [Hex.pm](https://hex.pm/packages/bolt_sips), **with** support for getting the connection details from the `url` parameter, if provided in the configuration files.

When using a hosted Neo4j instance, for example at: [GrapheneDB.com](http://www.graphenedb.com), you only need to paste the db connection details into the `url` parameter, for example:

[code]

Happy New

[2017-01-26 20:25] ghost opened #13 "etls doesn't compile under Windows"
Just for your information. :)
Even with all deps installed it doesn't work.
The owner has said that he doesn't have experience with Windows, so probably no fix is coming soon.

[2017-01-27 03:13] florinpatrascu commented on #13
I appreciate the heads-up, thank you. Not having a Windows environment available for dev/testing, will be hard to find a solution from my end, but I will investigate a bit more and return with feedback. Thanks again!

[2017-01-27 03:17] florinpatrascu commented on #13
Aaand... I noticed you managed to create the issue number 13, in both projects, here and in etls: https://github.com/kzemek/etls/issues/13 Coincidence?! :)

[2017-01-27 06:30] ghost commented on #13
Yaiks!
I'll just use version 0.1.2 until someone figures it out :)

[2017-01-27 15:52] florinpatrascu commented on #13
@onwarion - since my birthday is on the 13th of a month I won't name :) I thought I should deal with this lucky number somehow. So, please check the [with_ssl](https://github.com/florinpatrascu/bolt_sips/tree/with_ssl) branch and see how it works for you. Not the most elegant implementation (yet) but it is getting there :)

Many thanks to @benwilson512 for feedback, on Slack!

[2017-01-27 16:25] ghost commented on #13
The with_ssl branch compiled without errors.
I was able to connect and send a query.
This is enough to start my humble app development!
Thank you! 👍

[2017-01-27 16:25] #13 closed, assigned to nobody

[2017-01-27 16:26] florinpatrascu commented on #13
w⦿‿⦿t!

[2017-01-28 01:54] florinpatrascu commented on #13
@onwarion - this new version of Bolt.Sips, is now available at [Hex.pm](https://hex.pm/packages/bolt_sips/0.1.9), no need to use the `with_ssl` branch. Cheers!

[2017-01-28 09:13] ghost commented on #13
Awesome! Thank you very much! :)

[2017-02-12 12:48] mschae opened #15 "Boltex"
Hey @florinpatrascu,

I noticed that you are no longer using Boltex as a dependency but instead have the files in this project.

Could you elaborate what lead to that decision? I see multiple disadvantages from diverging bolt implementations and would love for us to find a way to keep the protocol and a client library separate.

Please let me know if there is anything in particular that you were l

[2017-02-12 16:33] adri opened #16 "Boltex.Bolt.generate_chunks fails with too much data"
Hi, first of all thank you very much for this project!

When running a query with parameters I encountered the following error message:

[code]

With a larger amount of parameters it seems like generating chunks isn't working correctly. Unfortunately I wasn't able to find the exact size.

What I saw is that [on this line](https://github.com/florinpatrascu/bolt_sips/blob/master/lib/boltex/bolt.ex#L

[2017-02-12 16:35] adri commented on #16
I just saw that this is the wrong library. I'll open an issue in the right one ;)

[2017-02-12 16:42] florinpatrascu commented on #16
Thank you for the report! Probably not the wrong place, since I forked the Boltex, and kind of maintaining it in Bolt.Sips too?! :) Would it be possible to provide a test case for this issue? Thank you!

Edit:
- I'll watch the development on [mschae/boltex/issues/13](https://github.com/mschae/boltex/issues/13) and get the feedback from there. Thanks again.

[2017-02-12 17:11] florinpatrascu commented on #15
Hi @mschae,

I really, and honestly, appreciate your message!

I took the decision of importing the Boltex code, when I realized you're planning to add pooling support, and DB Connection it simply didn't cut it for me. Trust me, I tried tinkering at it and failed to obtain a stable result - spent too many hours on that, before giving up. Your plan to add pooling is/was definitely justified, as the

[2017-02-12 17:31] mschae commented on #15
@florinpatrascu,

Thanks for your awesome response. I was hoping that what you described would be the case.

I still believe that shipping a very low level driver like Boltex with some kind of connection management is a good idea. This stems solely from copying other projects like Postgrex.

However I would love to find a way where the DBConnection part of Boltex was "use it if you want it" (or, i

[2017-02-12 17:56] florinpatrascu commented on #15
@mschae - thank you again for support. I would prefer to not needing importing DB Connection w/ Boltex, if that's not too much asking?! I too originally got caught in trying to copy Postgrex (learning from the best, eh?! :), only to fall on my own sword shortly after that (and many sleepless nights); partly b/c I am not an Elixir master, and 2nd: b/c at the end I found it to be an over-engineered

[2017-02-12 18:16] florinpatrascu commented on #15
Oh, and @mschae, if you plan to use `:retry` (or similar strategies), can you please make it optional for Boltex itself? I personally believe that's the responsibility of the upper resource management layer, the one where, in your case, you'd probably want to use Boltex w/ DB Connection, for example?! For me, Boltex should just reflect back the `truth` as reported by the Neo4j server and permit th

[2017-02-12 18:33] mschae commented on #15
Hey,

I think your points are fair. I came to a different decision regarding DBConnection but then again, your points are valid and we can agree to disagree. :)

I concur that anything related to retrying etc. should be handled upstream. I will concentrate on returning the best possible error messages, the rest is up to the implementation.

There is one more breaking change: I expect an empty Tupl

[2017-02-12 19:59] florinpatrascu commented on #15
👍

I'd prefer this, if possible?! Since most probably I'd have to pass my timeout config to Boltex, since I am anyway maintaining one as well, in my own config.

[2017-02-12 19:59] florinpatrascu commented on #15
no problem :)

[2017-02-12 21:14] mschae commented on #15
Yeah that makes sense. I'll add those options tomorrow. I think I'd prefer it that way, too, when I think more about it.

I'll ping you here when I added the options, afterwards the PR mentioned above should be ready for you to test. Let me know if there is anything I can do to help or if I'm missing something you need.

Thanks for working on this with me. I'm very happy that we can consolidate ou

[2017-02-12 22:08] florinpatrascu commented on #15
Same here, thank you Michael! Go OSS, indeed :)

[2017-02-14 16:55] mschae commented on #15
Hey @florinpatrascu,

I believe that the `add-dbconnection` branch now supports everything you need - and nothing more! :) Don't be confused by the name, I was too lazy to open up a new PR.

It would be great if you could try that branch out and see if everything is working correctly for you.

Thank you,
Michael

[2017-02-14 16:58] florinpatrascu commented on #15
Hi Michael - this is awesome. I'll start testing and integrating it as soon as I get home from my day job :) And I'll ping here, with feedback. Many thanks!

[2017-02-15 14:59] florinpatrascu commented on #15
Michael - last night I started to refactor my code and currently adapting it to your new error management strategy. Before continuing, I wonder if you shouldn't call ack_failure before returning any errors?!

[2017-02-15 15:05] mschae commented on #15
That's a fair question.

I am going to say "no" because I believe catching and recovering from errors should be handled upstream, but whoever manages the connections.

Here's an example how the DBConnection implementation handles that:
https://github.com/mschae/boltex_db_connection/blob/master/lib/boltex_db_connection/connection.ex#L57-L70

We could make it part of the protocol driver but given ho

[2017-02-15 15:23] florinpatrascu commented on #15
That's what I was doing, but then I realized the ack_failure has no meaningful role, from the user' perspective, and it's just an extra call that maybe was better if absorbed by Boltex internally, as it is anyway part of the Bolt workflow?! Still not sure, that's why I was asking. Trying to clarify (to myself) where the boundaries between Boltex and a client implementation will be? For example: Is

[2017-02-15 16:05] florinpatrascu commented on #15
I'll call ack_failure at my end for now, until we figure out a better approach :)

[2017-02-16 00:38] florinpatrascu commented on #15
@mschae - can you please apply this patch to the add-dbconnection branch? It contains a PR from @wli0503; details in the comments below. Thank you.

[struct_handler_for_encoder.patch.zip](https://github.com/florinpatrascu/bolt_sips/files/778774/struct_handler_for_encoder.patch.zip)

[code]

[2017-02-16 16:32] mschae commented on #15
Fixed. I took the liberty to add a catch all that raises a `Boltex.PackStream.EncodeError` when trying to encode something we can't encode (for example tuples).

[2017-02-16 16:47] florinpatrascu commented on #15
Awesome! Thanks Michael! Unfortunately I can't try it out until later on, but I'll get to it in the afternoon, can't wait till I get home :) All my tests, especially the ones involving transactions, were green last night so I am pretty sure we're good to go?! Michael, if Boltex is in a shape it's also suitable to your other project db-conn... then maybe is worth trying to push it to hex.pm?

[2017-02-17 02:01] florinpatrascu commented on #15
Hi Michael - had to debug some failing tests and found the culprit. Please apply this patch too:

[code]
The `Error.get_id/1`, didn't know about `:sslsocket`. I wasn't sure about your plans regarding this function, we can make it more verbose later, but for now I left out these: `_tls`, _`unused_yet` and `_pid`.

I tested with both standard `:ssl` and `:etls`, and Boltex is now working with either

[2017-02-17 16:36] mschae commented on #15
Hey,

I pushed that fix up to the branch. I'll go ahead and push v0.2.0 as soon as you give me the green light.

Thanks!

[2017-02-17 16:45] florinpatrascu commented on #15
HI there - it works, thank you! You can release the Kraken anytime it's convenient for you :) On my side, later on, I'll rework a bit the code to deal with the new encoding exception and will also push the newer version to hex.pm, using: Boltex, this time. Thanks again, Michael!

[2017-02-17 16:53] mschae commented on #15
Awesome thanks! So glad this is now consolidated. If you find any issues with Boltex feel free to add a PR!

I released v0.2.0. Should be all there!

:heart:

[2017-02-17 16:58] florinpatrascu commented on #15
Thank you, you too Michael. Great work! I'll push my changes as well, later on, and will publish the new version at hex.pm. I'll send you any PRs from now on, if need be.

Awesome, indeed!
❤️

Edit:
- ~can you publish the new version to Hex? Unless it is there already, but I cannot see it yet.~
NVM I can see it, thank yoU!

[2017-02-18 00:29] florinpatrascu commented on #15
Package published to https://hex.pm/packages/bolt_sips/0.2.0

This is good stuff, having the two projects consolidated! Thanks again, Michael!

🍻

[2017-02-18 00:29] #15 closed, assigned to nobody

[2017-02-19 15:07] adri commented on #16
Since there are some tests in this project already it was easier add a test that fails in bolt_sips :)
In the module `Query.Test` you can use:

[code]

As far as I can see the error is related to what I posted in the issue description:
[code]

Note, that the query works if you change `largeRange` from `1_000_000` to `1_000`.

[2017-02-19 21:15] florinpatrascu commented on #16
Thank you, @adri! I'll add a pointer to @mschae's project, for the reference; https://github.com/mschae/boltex/issues/13. I am curious to test this too, as it seems to be a special use case. Out of pure curiosity, did you stumble upon this issue in a real scenario or it was pure experimental? Never encountered a situation where I had to transport this much data, in a single call.

[2017-02-20 13:28] mschae commented on #16
Thank you @adri and @florinpatrascu. While I implemented multi-chunk messages sending it seems like (contrary to what I believed) I never actually tested it.

Guess what: Untested code doesn't work. Who would've thought.

Sorry about the snafu on my end, I addressed (and believe to have fixed) it in mschae/boltex#15.

[2017-02-20 19:18] florinpatrascu commented on #16
Thank you both for reporting the issue and for the support. With Boltex working correctly now (thanks @mschae!), I was able to spot a bug at my end too: the pool was expiring prematurely and a misplaced timeout parameter. @adri - I aded your test to the test suite and it is passing w/o issues on local and remote databases; many thanks for it! I even throttled the remote db, and verified the test s

[2017-02-20 19:18] #16 closed, assigned to nobody

[2017-02-23 02:29] vic opened #17 "Nil error message when sending invalid parameter type on query."
I was doing a Cypher query and unintentionally sent an elixir date-time as parameter for it (instead of actually converting it to an integer timestamp). The issue is, even when the query correctly fails with an error, the message for it is just nil.

[code]

It would be a lot nicer if the message was something useful like "we cant serialize that data type to neo4j" or something.

I've added a test

[2017-02-24 23:06] florinpatrascu commented on #17
I see it, it's a `%Boltex.PackStream.EncodeError{item: ..., message: nil}`, returning the message nil, as you can see the sample above. I'll try to return some details about the error, from my end, when this happen. Thank you, @vic! /cc @mschae

[2017-02-25 00:28] florinpatrascu commented on #17
published https://hex.pm/packages/bolt_sips/0.2.2, with a simple workaround. I'll return the full error (inspect) received from Boltex, until we can bring in the newer version. At least it helps with the debugging, when needed. Thanks again!

[2017-02-25 00:28] #17 closed, assigned to nobody

[2017-02-27 02:09] subversive-owl opened #20 "Project's own config for bolt.cypher task"
This was mentioned on [line 32](https://github.com/florinpatrascu/bolt_sips/blob/master/lib/mix/tasks/cypher.ex#L32) of the task definition.

I personally would like to use this as a starting point for writing other tasks for Bolt, like setting up constraints, so I'm interested in this too, but I have no Elixir skill yet.

[2017-02-28 22:23] florinpatrascu commented on #20
I'll start working on that, shouldn't be any troubles with it.

[2017-03-15 18:56] dnesteryuk opened #22 "Etls cannot be used or I got it wrong"
**Context:**
1. I added the bolt_sips to [my project](https://github.com/sirko-io/engine/blob/master/mix.exs#L40).
2. I added `export BOLT_WITH_ETLS=true` to my `.profile` in Ubuntu.
3. I installed dependencies.

**Expected result:** The etls package is installed along with the bolt_sips.
**Actual result:** The etls is missing (the project crashes at launch).

[code]

I successfully launched the p

[2017-03-15 18:57] dnesteryuk commented on #22
Thank you for your hard work on this project, @florinpatrascu :clap: :fireworks:

[2017-03-15 19:16] florinpatrascu commented on #22
Hi Dmitriy,

Thank you for your kind words and I am sorry to hear about your troubles with etls. I am at work now but I'll check later on to see if there are any issues with the current mix support, but I doubt there are; had Travis working with this for a while. See, the etls dependency **is** used, conditional, in the mix.exs. Please view this part `++ env_specific_deps()`; hope I typed it right

[2017-03-18 16:58] florinpatrascu commented on #22
Hi there - please let me know if cleaning the previous compile results and dependencies works for you. I just had the opportunity to try on a fresh install and couldn't reproduce your case. But I don't doubt you're right, just need more info to be able to reproduce the issue at my end. Thank you!

[2017-03-20 19:18] dnesteryuk commented on #22
Hello Florin,

Thank you for the fast response. I tried your approach, but it didn't work for me. :cry:  Most likely, I am doing something wrong.

### How did I try?

[code]

It isn't there.

[2017-03-21 10:25] florinpatrascu commented on #22
Ugh, I see what is going on now. Mix is just doing what it's expected to do, when you set environment variables, for example:

![w_and_wo_etls](https://cloud.githubusercontent.com/assets/76138/24142640/85fbf3c8-0dfd-11e7-88cc-7da5802c827e.png)

However, this is not happening when bolt_sips is included in another project. Two things may happen:

- mix is only parsing the list of dependencies, w/o e

[2017-03-21 19:39] dnesteryuk commented on #22
@florinpatrascu please, take your time. It doesn't block my work :wink: Thank you!

[2017-03-22 19:05] sergey-ivlev opened #23 "errors on semicolon"
Hello!
a little example whith semicolon in text, which raise exeption

Bolt.Sips.query!(Bolt.Sips.conn, "MERGE (:Test {text: \"test with semicolon;\"})")

21:58:18.753 [debug] [{:sock_ref, "", #PID<0.624.0>, #PID<0.625.0>, #PID<0.626.0>}] cypher: "MERGE (:Test {text: \"test with semicolon" - params: %{} - bolt: {:error, %Boltex.Error{code: "Neo.ClientError.Statement.SyntaxError", connection_id: ni

[2017-03-22 19:58] dnesteryuk opened #24 "Pool of connections"
Hello Florin,

Turns out I misunderstand something regarding the pool. When I call:

[code]

I expect to get an established connection to a Neo4j instance, but actually, it [starts establishing](https://github.com/florinpatrascu/bolt_sips/blob/master/lib/bolt_sips/connection.ex#L34-L40) a new connection from scratch, it doesn't get it from the pool. The Bolt.Sips.Connection uses the pool to be sur

[2017-03-22 22:53] florinpatrascu commented on #24
Nope, you got it right 😄

When you call `Bolt.Sips.conn`, there is indeed a new connection created, provided there are available slots (in the pool) - one of the ways, in Elixir, we limit the consumers, otherwise you can easily exhaust the server resources (and yours too) if you allow concurrent processes to run arbitrarily.

People are often asking me: "-Hey, in Java we have a session for stuff l

[2017-03-23 00:09] florinpatrascu commented on #23
Hi there - yep, you caught a bug, thank you! Please try the `master` branch (is 0.2.5).

BTW, you should escape the `"` character. For example:

[code]

or use single quote:

[code]
The web editor is not a close comparison, unfortunately, but I understood how to replicate your finding.

Thanks again and please let me know if the new version works for you. Also, it will be awesome if you can confir

[2017-03-23 08:27] sergey-ivlev commented on #23
Thanks a lot, it works!
tested on nix* and i haven't Windows, sorry
Thanks again

[2017-03-23 13:46] florinpatrascu commented on #23
Cool, thank you too!

[2017-03-23 13:46] #23 closed, assigned to nobody

[2017-03-24 12:19] florinpatrascu commented on #23
Package published to https://hex.pm/packages/bolt_sips/0.2.5

[2017-04-21 10:11] rawkode opened #25 "Starting Manually"
Hi,

You specify:
[code]

This makes it impossible to provide configuration at runtime, using `:weave`.

I've tried adding `runtime: false` to stop BoltSips automatically starting up and instead manually starting it in my application module callback, with
[code]

but this causes everything to "hang"

[2017-04-21 16:28] #24 closed, assigned to nobody

[2017-04-21 16:32] florinpatrascu commented on #25
Hi,

I could resurrect the code I used before, that would let the user start the app before the user's, and pass a custom configuration.

Your problem, if I understand correctly, is that you want to configure bolt_sips using :wave? Didn't hear about :wave till now, sorry. I'll try to find the time and look into this, unless you already have a PR? :)

Florin

[2017-04-21 16:36] rawkode commented on #25
I think I have a version working. I'll PR it when I've done more testing :+1:

[2017-04-21 16:37] florinpatrascu commented on #25
Awesome! Thank you!!

[2017-04-21 18:10] mkrogemann opened #26 "hex package contains an erl_crash.dump file"
More of a stylistic thing but most likely not intended.

When I install the current (0.2.5) package and look at its content, I find an erl_crash.dump file in lib.

Big Kudos and Many Thanks for providing this package by the way 👍

[2017-04-21 18:16] florinpatrascu commented on #26
Arghhh, my bad, sorry!!! I'll clean it up as soon as I get back to a computer, 1-2 hours, and will publish the cleaner version. Thanks for catching it, and for the kind words!

[2017-04-22 00:32] florinpatrascu commented on #26
done :) Package published to https://hex.pm/packages/bolt_sips/0.2.6, thanks again!

[2017-05-10 16:15] mkrogemann commented on #26
I still find the crash dump in the tarball of 0.2.6. I hope that my local hex folder is not corrupted and I am not reporting this wrongly.

[2017-05-11 12:37] mkrogemann opened #28 "Support for bolt+routing"
Not reporting an issue here but asking if there are plans to build in support for the routing extension.
I am currently at graphconnect and learning about how this is implemented in other drivers.
I am happy to share what I learn and to support implementation.
Curious if there is already work in progress on this?

[2017-05-11 12:43] florinpatrascu commented on #26
Probably my fault, I'll clean it up this weekend, as I also have some more code cleanup done, ready to be committed and a few packages updated too; not a big release, but a new one nevertheless:) Thank you!

[2017-05-11 12:56] florinpatrascu commented on #28
Graphconnect, eh?! The best place to be these days, and now I'm jealous:)

I was looking into the routing support but didn't plan yet to work on it as there isn't much feedback I get for this driver lately. The latter is maybe because the users are just happy with what this driver is, or b/c they are not yet deep into using Neo4j with Elixir, not as deep as requiring routing?  idk - I for one, am

[2017-05-14 09:36] rawkode commented on #25
OK, I thought I had this; but unfortunately I don't. Help appreciated :+1:

[2017-05-14 15:41] florinpatrascu commented on #25
Hi David - can you please check [v0.3.1](https://github.com/florinpatrascu/bolt_sips/tree/v0.3.1)? Now, you can do something like this:

[code]

Please let me know if this version can be used with [weave](https://github.com/rawkode/weave).

HTH

[2017-05-14 17:20] rawkode commented on #25
Hi @florinpatrascu, nothing above 2.4.6 seems published to hex?

[2017-05-14 17:20] rawkode commented on #25
Sorry, I see; it's a branch. I'll give it a try :+1:

[2017-05-14 17:43] rawkode commented on #25
Hi @florinpatrascu,

OK; I've found the problem.

Firstly, I need to stop `:bolt_sips` starting automatically, as it needs configured before launch.

For this, I added `app: :false` to the deps and that seems great.

I then add `worker(Bolt.Sips, [Application.get_env(:bolt_sips, Bolt)])` to my application supervisor and things begin to break.

It turns out, once my app adds the worker and calls `s

[2017-05-14 17:44] rawkode commented on #25
From what I can tell, this is a micro-optimisation anyway, with no real value. Perhaps we could remove it? Or is there something I'm missing?

[2017-05-14 17:59] florinpatrascu commented on #25
David, np - can you please give me an example of how you would like to use :bolt_sips, with :weave? I am sure I am too missing something. This branch, 0.3.1 respectively, is allowing you to start Bolt.Sips from your app and also to specify configuration variables that will override your `config/${MIX_ENV}.exs` files. In this branch, :bolt_sips will **not** start automatically anymore. I thought th

[2017-05-14 18:01] florinpatrascu commented on #25
also, you said before:

this is what 0.3.1 does, to start with

[2017-05-14 18:39] florinpatrascu commented on #25
and if you don't mind, how can I replicate this:

`ConCache.start_link([], name: :bolt_sips_cache)`

many thanks, for your patience!

[2017-05-14 18:41] rawkode commented on #25
You're right, `0.3.1` does fix this; awesome!

I know that environment variables can be injected too, but for delivering secrets, it's best to use other means: which is what I am using `:weave` for.

I'll put together a small application that demos my issue.

Thanks for your help

[2017-05-14 18:43] florinpatrascu commented on #25
niceee!!! Glad it helps!!!
🍻

[2017-05-17 12:22] rawkode commented on #25
0.3.1 works as needed. Thanks :+1:

[2017-05-17 12:22] #25 closed, assigned to nobody

[2017-05-17 12:28] florinpatrascu commented on #25
Awesome. Tonight, I'll publish the new version on hex.pm Thank you, for your feedback!

[2017-05-20 15:45] florinpatrascu commented on #25
Package published to https://hex.pm/packages/bolt_sips/0.3.1

[2017-05-20 15:50] florinpatrascu commented on #26
Package published to https://hex.pm/packages/bolt_sips/0.3.1

[2017-05-20 15:50] #26 closed, assigned to nobody

[2017-05-20 20:24] florinpatrascu commented on #20
Package published to https://hex.pm/packages/bolt_sips/0.3.2

Please see the updated README, for details. HTH - Florin

[2017-05-20 20:24] #20 closed, assigned to nobody

[2017-06-02 04:42] rawhat opened #29 ""Unsupported authentication token, missing key `scheme`""
Hi,

I am trying to get the driver working in `iex` but unfortunately am running into the titular error.  It works just fine from the terminal, but I am getting these unexpected return values elsewhere.

<img width="788" alt="screen shot 2017-06-02 at 12 37 02 am" src="https://cloud.githubusercontent.com/assets/2095509/26711063/ef74f806-472b-11e7-8943-b44c378e1f34.png">

I am having the `iex` issu

[2017-06-02 15:15] rawhat commented on #29
I must have had the configuration entered incorrectly, as now I believe it is working.  I'll close this now!

[2017-06-02 15:15] #29 closed, assigned to nobody

[2017-06-02 22:25] florinpatrascu commented on #29
Glad you figured it out! 🍻

[2017-08-23 16:59] cheerfulstoic opened #32 "Parameters not working?"
I'm trying to use parameters to create nodes and not having much luck.  I started out with:

[code]

That gives me:

[code]

To simplify I tried this:

[code]

That successfully queries, but then the `test` property has the value `"102,111,111"` in the database.

This works, however:

[code]

So it seems like maybe there's just something wrong with params (?)

[2017-08-23 17:01] cheerfulstoic commented on #32
For background:

[code]

And in my `mix.lock`, `neo4j_sips` is version 0.3.2 and `boltex` is 0.3.0

[2017-08-23 17:21] florinpatrascu commented on #32
hi there - I'm pretty sure the params support is working. Are you trying to use the mix task? If yes, I am not sure it can be used for something else than simple queries, as it was scoped as a convenience only. I'll have a look though. And, regarding the query you show in the comment above, you should probably try using a `String` value instead? Above you have a `charlist` ie `'foo'`? ;P Try this:

[2017-08-23 17:23] florinpatrascu commented on #32
Wait, are you referring to `neo4j_sips`? [neo4j_sips](https://github.com/florinpatrascu/neo4j_sips) is not using Bolt; it's using the REST API, over http.

[2017-08-23 17:31] florinpatrascu commented on #32
plus `socket is not connected`, in your initial report, seems to be a network issue, i.e. neo4j server port configuration, mix config, etc?

[2017-08-23 18:58] dnesteryuk commented on #32
@cheerfulstoic please, check that the Bolt.Sips is started before you try to query, example, https://github.com/sirko-io/engine/blob/master/lib/sirko.ex#L10. It should solve your first problem with the socket. The second problem should be solved by @florinpatrascu 's suggestion about strings.

[2017-08-23 19:13] cheerfulstoic commented on #32
Ah, sorry for the confusion.  This is actually `Bolt.Sips`, but I aliased that to `Neo4j` because I saw it in this task:

https://github.com/florinpatrascu/bolt_sips/blob/master/lib/mix/tasks/cypher.ex#L30

Though I'm not using the built-in task, I'm using my own custom mix task that I've created.

I don't think it's a network issue because I do a `Neo4j.query!(Neo4j.conn, "MATCH (n) DETACH DELETE

[2017-08-23 19:16] florinpatrascu commented on #32
We actually have [tests](https://github.com/florinpatrascu/bolt_sips/blob/master/test/query_test.exs#L88) covering this, please see link. Excerpt:

[code]

[2017-08-23 21:07] florinpatrascu commented on #32
hmmm, I believe I understand what is going on. Boltex is throwing an exception for nested maps. Will try to look into it later as I am caught into a project for work, unless @mschae or @dnesteryuk have a quicker answer?! :) an anticipated thanks guys! Basically this:

[code]

will also try to see if we can throw better errors from our end, but we pretty much echo back boltex' error messages.

Good

[2017-08-23 21:15] florinpatrascu commented on #32
for brevity, 1st test will pass, the 2nd one will fail (in Bolt.Sips)

[code]

leaving this here as a bookmark, for later

[2017-08-23 21:36] mschae commented on #32
Hey,

You're right @florinpatrascu that's a Neo4J error and not much we can do about it.

Neo4J doesn't allow for nested maps. Neither via bolt nor via REST. It's a limitation to Neo4J. In our projects I've resorted to encoding and decoding nested maps to json.

I quite like the error message actually. :)

[2017-08-23 21:42] florinpatrascu commented on #32
Thank you, Michael!!!

me too :)

And you also saved me for some pain, as I was planning later on to check the REST support for the nested maps. Thanks again!

@cheerfulstoic - is there something else we could help you with, for this issue? Thank you for your report though!

[2017-08-23 21:49] florinpatrascu commented on #32
for reference: https://stackoverflow.com/questions/25750016/nested-maps-and-collections-in-neo4j-2#25754628

One comment:

exactly as you said, @mschae

[2017-08-24 16:08] cheerfulstoic commented on #32
I don't actually have a nested map, actually.  It's just a plain map.  I can't share the example I'm using, but I'll try to put together a version which still breaks

[2017-08-24 16:14] florinpatrascu commented on #32
understood, ty

[2017-08-24 16:30] cheerfulstoic commented on #32
Oh, gosh.  I figured it out and it's my Ruby habits again:

[code]

It's because of the single quotes for the key in the map being a charlist.  So I'm able to fix my issue.  I don't know if there's a way to validate values going in so that users get a better error message than `"socket is not connected"`.  I'll let you decide if you want to tackle that ;)

Thanks!

[2017-08-24 16:51] florinpatrascu commented on #32
no worries, we all went through this :)

I'll close this one, and create a new issue for improving the error support. I have an idea about why the "socket is not connected". We're retrying the requests in case of errors, but there are some specific errors we shouldn't bother the server with, such as the one you encountered, encoding errors, and so on. I believe the "socket is not connected", is ac

[2017-08-24 16:51] #32 closed, assigned to nobody

[2017-08-24 16:55] florinpatrascu opened #33 "Misleading error returned, when it shouldn't: `socket is not connected`"
please see: issue #32, for background info.

[2017-09-04 15:52] florinpatrascu commented on #33
fixed with v0.3.5

[2017-09-04 15:52] #33 closed, assigned to nobody

[2017-09-04 16:42] cheerfulstoic commented on #33
The latest version of `bolt_sips` that I see is 0.3.5 on [the hex.pm page](https://hex.pm/packages/bolt_sips).  Is something wrong with the release process?

[2017-09-04 16:53] florinpatrascu commented on #33
yes sorry, my fault. Published now, thank you for catching it 👍

[2017-09-23 12:16] willoughby opened #34 "Phoenix 1.3 Unable to start"
I've followed the install guide, but get the following error.

exited in: :gen_server.call(:bolt_sips_pool, {:checkout, #Reference<0.120961608.535560200.138616>, true}, :infinity) ** (EXIT) no process: the process is not alive or there's no process currently associated with the given name, possibly because its application isn't started
nofile

[2017-09-23 12:43] willoughby commented on #34
I was able to resolve my issue. New to the ecosystem but had to add the following to my Application:

`worker(Bolt.Sips, [
        Application.get_env(:bolt_sips, Bolt)])`

[2017-09-23 15:03] florinpatrascu commented on #34
That’s the correct solution! :)

[2017-09-23 15:20] #34 closed, assigned to nobody

[2017-10-15 18:07] florinpatrascu commented on #34
the latest version 0.4.11, has its README updated with an example clarifying this aspect. Thank you @willoughby, for suggesting it!

[2017-12-12 22:11] sweco-semtne opened #37 "Query failed"
Hi Florin,
I would like to thank you for a great library!
But, I'm having troubles running through the example in the readme.

I get this match error:
"no function clause matching in :gen_tcp.send/2"

I'm using Erlang 20 and Elixir 1.5.2 and Bolt 0.4.11 (latest from Hex)

[code]

[2017-12-13 01:42] florinpatrascu commented on #37
Thank you so much for trying our driver. And I apologize for the issue. We’re between versions and there are few caveats which are now affecting your deployment. Can you use bolt_sips, from master?! If not, then use it from hexpm but please move the boltex dep one version down, in your dependencies I will post a fix as soon as possible. Please let me know how it goes.

[2017-12-13 21:30] sweco-semtne commented on #37
No need to apologize. Keep up the good work!
How can I use the master version?
Point at git in mix.exs?
 {:bolt, git: "https://github.com/florinpatrascu/bolt_sips.git"}

[code]

Update: I works better if you call the application by its correct name :bolt_sips ...
Having done that I can build it :-)

Running with the example readme I get this from master.
[code]

[2017-12-14 00:04] florinpatrascu commented on #37
Hi Mats,

It's as simple as adding this: `{:bolt_sips, github: "florinpatrascu/bolt_sips"}`, to your dependencies, in the `mix.exs`.

HTH
Florin

[2017-12-16 14:50] leveloid commented on #37
I'm seeing the same:

[code]
with these in my mix.exs:
[code]

[2017-12-16 16:50] florinpatrascu commented on #37
sorry, my fault again. Please use everything from hex.pm.
I just published a maintenance release for Bolt.Sips; v0.4.12, here: `{:bolt_sips, "~> 0.4.12"}`

[2018-01-23 03:41] agm1984 commented on #29
I just ran into this error and it was because I just converted my neo4j credentials from hardcoded to dynamic based on environment config, and I had a typo on the password field.

If anyone encounters this, do a quick check like:

[code]

It's just a credential mismatch somewhere.

[2018-01-25 20:12] dsantosmerino commented on #28
Hey @florinpatrascu!

Searching info about Bolt+Routing I have found your PR at Boltex (https://github.com/mschae/boltex/pull/20).
I can imagine that it is a big task, but I'm really interested in it, and I'd like to know more about the status, in order to determinate if we need to work on our own implementation or just help you, if you need it.

Thanks for your good work! 👏

[2018-01-25 22:07] florinpatrascu commented on #28
Hey @dsantosmerino!

Thank you for your kind words. I started indeed working on Bolt+Routing a while ago, hence the need to have the server version info. At that time the db_connection was still in development, and had to re-think the integration design, from my end, based on how db_connection evolved, and blasted away a couple of iterations as a result of that. Which was all good, because db_conn

[2018-01-27 19:49] florinpatrascu commented on #37
any feedback for this issue?

[2018-01-27 19:55] florinpatrascu commented on #28
.. spent a fair amount of time with db_connection, from master, and will try to move forward with my routing implementation; but no promises ;)

[2018-02-05 19:07] clintgibler opened #39 "Publish latest version (0.5) to Hex?"
Hey Florin,

Thanks for creating `bolt_sips`, it's really useful!

In the README, you recommend using version 0.5:

[code]

But on Hex, it appears that the latest version is [0.4.12](https://hex.pm/packages/bolt_sips).

I see the disclaimer in the README that you're working on implementing the `db_connection` behavior. Is the reason you haven't pushed version 0.5 to Hex because that's experimental

[2018-02-05 20:56] florinpatrascu commented on #39
Hi @clintgibler - thank you for your kind feedback. The db_connection is already integrated and available in the master, you can use it right away. However, the db_connection we're using is also in development, and we cannot publish de driver to Hex.pm until the db_connection will also be published. We will publish the `stable` version as soon as db_connection is ready. Meanwhile the focus is on f

[2018-02-05 21:44] clintgibler commented on #39
@florinpatrascu Thanks for the quick response! Ah ok, that makes sense, thanks for the clarification.

I'm going to be playing with `bolt_sips` a bit over the next few weeks, so you may hear from me again :)

By the way, you may want to add a note in the README that one should use Elixir 1.6+ with this library. I was following the MoviesElixirPhoenix example using Elixir 1.5, and when I tried to d

[2018-02-06 01:19] florinpatrascu commented on #39
Ahh, right. Good catch! I’ll open an issue on the movies demo, and will close this one after that. Thanks again!

[2018-02-06 02:21] clintgibler commented on #39
No problem, thanks for your help!

[2018-02-09 16:36] sweco-semtne commented on #37
Hi Florin,
0.4.12 works great for me.
Thank you!

[2018-02-09 16:37] florinpatrascu commented on #37
Awesome! Thank you for the feedback!

[2018-02-09 16:37] #37 closed, assigned to nobody

[2018-02-17 22:24] florinpatrascu commented on #28
taking a shot at this ;)

[2018-02-19 22:50] MachinesAreUs opened #40 "Proposal: use git tags for releases."
this would ease tracking diagnostics against previous versions.

[2018-02-19 23:10] florinpatrascu commented on #40
Of course, but how is this different than what I am currently doing?!

[2018-02-19 23:18] MachinesAreUs commented on #40
It would allow navigation to a specific version from the repository main page :)

[2018-02-19 23:28] florinpatrascu commented on #40
sure thing, I'll make sure I'll continue to tag the every noticeable release, from now on. Right now there is only one tag :) Thank you for the suggestion!

[2018-02-19 23:45] florinpatrascu commented on #40
[v0.5.7](https://github.com/florinpatrascu/bolt_sips/tree/v0.5.7) created :)

[2018-02-19 23:45] #40 closed, assigned to nobody

[2018-02-20 13:32] MachinesAreUs commented on #40
Great! Is there a reason this version is not on [hex.pm](https://hex.pm/packages/bolt_sips)?

[2018-02-20 13:48] florinpatrascu commented on #40
@MachinesAreUs, yes there is one, and I am getting this question a lot lately :) We depend on the db-connection, its master version. Details here: #39, HTH

[2018-02-22 22:11] MachinesAreUs opened #41 "Connection pool creates much more connections than specified."
My team and I found `bolt_sips` has two apparently wrong behaviors regarding to connection pooling.

1. It opens much more tcp connections than specified with the pool size configuration. Although the number of processes in the pool is correct, the number of sockets at the OS level grows almost indefinitely, limited only by the limit on the number of file descriptors the process can afford.
2. Whe

[2018-02-22 22:16] MachinesAreUs commented on #41
Environment:

- Erlang/OTP 20 [erts-9.2.1]
- Elixir 1.61
- OS: Both Ubuntu 16.04.3 LTS and OS X High sierra

[2018-02-22 22:38] florinpatrascu commented on #41
Hmm. Thank you for the detailed report, and I am sorry for the troubles. I’ll have to find the time to dedicate to this issue, but as a quick step forward, can you please try the driver code from the master branch?

[2018-02-22 23:46] MachinesAreUs commented on #41
For some reason when I tried to update to 0.5 (and failed because it isn't on hex.pm and I didn't read about the dependency on db_connection/master [issue](https://github.com/florinpatrascu/bolt_sips/issues/39)), I assumed we were already using the db_connection pooling. Wrong.
I've just switched to master and it appears to work fine on a first round.

I'll keep you informed.

Thanks for the hint!

[2018-02-22 23:49] florinpatrascu commented on #41
This is good news, thanks a lot for confirming the master branch! Please keep me tuned, as we we’ll refactor the driver and add the bolt+routing protocol in addition to the bolt only one.

[2018-02-22 23:49] florinpatrascu commented on #41
I’ll still look at the issue you reported!

[2018-02-23 17:04] MachinesAreUs commented on #41
Well, we made some tests and deployed our application using the version in master. It's been more than 12 hr since then and everything appears to work alright 👍

[2018-02-23 18:08] florinpatrascu commented on #41
W⦿‿⦿t!

[2018-02-28 19:12] wavewizard opened #42 "Problem with negative integers"
Hi Florin, thank you for  the efforts you are putting in to this project.

Today I`ve seen a strange behaviour when using bolt_sips driver.  It somewhat gives wrong result when there are  negative integers on neo4j. for example: an integer which value is -1 become 256 and  -256 becomes 65280 in bolt_sips query result.

It seems bolt_sips does not interpret  neo4j`s negative integers.

[2018-03-02 14:22] florinpatrascu commented on #42
@wavewizard - thank you for the bug report!

@mschae - would you please double check Boltex, the `Boltex.PackStream.decode/1`, in case you can spare some time? Boltex returns `255` for `-1`. Simple test:

[code]
The encoder is correct.

Thank you both!

[2018-03-23 19:17] yoelfme opened #43 "Time out for some queries"
Hello, I started to play with bolt sips 3 weeks ago, and today I deployed my service to my staging enviroment but I have found some issues:

I'm receiving a time out error when I made query like this:

[code]
My logs:
[code]

But when I made queries like this:
[code]
I got the results that I expect.

Environment:

- Phoenix 1.3
- Elixir 1.6
- Bolt sips  ~> 0.4
- Neo4j 3.3

Annd my bolt sips config

[2018-03-23 19:46] florinpatrascu commented on #43
Hi there - I'll have to look at the query implementation, but a bit later on, when I can access my computer. Did you try running this:

[code]

from Neo4j's own UI? Is it working? I guess it does, but I thought I'd ask. Seems like the server is exceeding the timeout threshold and the request throws that error you see in the logs.

Also, please use the driver's latest version, from `master`; see: #

[2018-03-26 18:07] yoelfme commented on #43
Hi @florinpatrascu, thanks for your answer, that query works in my Neo4j implementation. I will try the driver's latest version,  maybe that works fix the issue. Thanks for all, I will let you now how it turns out.

[2018-04-25 14:31] mschae commented on #42
Wow this completely slipped by, sorry.

Will add negative integers asap, sorry about that

[2018-04-25 15:54] mschae commented on #42
@florinpatrascu Can you verify that my latest master fixes negative integers? If that's so I'll release a new version. Sorry for the delay.

[2018-04-25 16:44] florinpatrascu commented on #42
yep, the `master` branch is the fix :) Thank you, @mschae! I'll push a new release as soon release you have time to publish the master.

[2018-04-26 09:02] mschae commented on #42
@florinpatrascu Just published 0.4.1 with the fix. Thanks for the report!

[2018-04-26 12:43] florinpatrascu commented on #42
Thank you both, @mschae and @wavewizard! Negative numbers are in, now =)

@wavewizard - please use the latest `bolt_sips` version, from the `master` branch.

[2018-04-26 12:43] #42 closed, assigned to nobody

[2018-04-27 11:10] mmacheerpuppy commented on #37
Hi Florin,

I'm experiencing this issue

From

[2018-04-27 12:33] caldempsey commented on #37
Working now :) +1

[2018-04-27 12:56] florinpatrascu commented on #37
@mmacheerpuppy - glad the mystery is solved :) However, you should probably use the `master` version from now on, as we committed a bunch of bug fixes and improvements lately. HTH, and let us know how it goes :)

[2018-04-30 12:31] dsantosmerino commented on #28
Hey @florinpatrascu, we've developed a 'draft' to make it work. It's still a WIP, we need to add some docs and more details, but it's working as expected. You can find the source code at [Badiapp/bolt-routing-driver](https://github.com/Badiapp/bolt-routing-driver). Of course, your feedback is more than welcome!

We'd like to see your implementation, pretty sure that it's better that our one! We've

[2018-04-30 13:03] florinpatrascu commented on #28
Hi @dsantosmerino - that's cool, you guys moved forward, kudos! On my side, I am spinning around the design and prototyping, as I want to be as integrated as possible with the `db_connection` (the version from master), and aiming to use it properly; on top of these, there is a new Bolt driver version coming from the nice fells at Neo4j (v2 - adding support for new datatypes). And to add more excit

[2018-06-18 12:49] namxam opened #44 "date & datetime support"
Is there a way to get date and datetime properties working with `0.4.12`?

I am currently getting `Neo.ClientError.Request.Invalid` with `DateTime is not yet supported as a return type in Bolt`.

[2018-06-18 13:12] florinpatrascu commented on #44
not right now, sorry. I believe this will be added to [boltex](https://github.com/mschae/boltex), tho' I can't say when. @mschae, is the best person to tell us :)

I'll make sure it is integrated in the 0.4 when it will be available, as most of the development these days is happening for the v 0.5 (routing support, and newer db_connection)

[2018-06-18 13:14] namxam commented on #44
Ah nice. I am quite new to it and experimenting a bit with data structures and queries. I guess I will create an issue there.

[2018-06-18 13:15] florinpatrascu commented on #44
sure thing, ty! And please mention this issue too, so I get the notifications and keep the thread coherent. Thank you!

[2018-06-28 16:54] nazarsh commented on #39
Hi @florinpatrascu - it looks like `db_connection` is published and is a `v1.1.3`. Does that mean you can publish `v0.5`?

Otherwise I was getting
[code]

until I changed the `db_connection` to `1.1` as you previously had it.
Looking forward to using the lib and thanks for it!

[2018-06-28 17:39] florinpatrascu commented on #39
@nazarsh - `db_connection v1.1.3` is a maintenance release, the code from db_connection's master branch is different, and `bolt_sips` is using the master version. Right now, my master branch is a little behind the db_connection, especially after the removal of the external pool support from db_c.. and there are new callback I need to add, probably this weekend. But no, unfortunately I can't publis

[2018-06-28 18:44] nazarsh commented on #39
Thanks @florinpatrascu ! I am happy to help test any of the changes you'd make since I am pretty much setting up from scratch.

[2018-06-28 19:05] florinpatrascu commented on #39
Awesome, thank you! I’ll post here a notification when I have the code synced with the latest db_connection

[2018-07-02 18:20] namxam opened #45 "Runtime configuration"
The docs only explain configuration via classic elixir config mechanism. We are using releases and try to configure all services during runtime via environment variables. What would be the suggested way to achieve it with bolt_sips? Creating my own worker / supervisor which loads config with init/1? Or is there a way to hook into bolt_sips' init/1 callback?

[2018-07-02 19:12] florinpatrascu commented on #45
Indeed, I should probably start updating the README more often, you're right. Meanwhile, you could try the following approach. Say your `config/prod.exs` contains a Distillery-compliant var that would be defined at runtime, for example:

[code]
then you could have something like this:

[code]
And yes, the next version will have a callback, same as Ecto :)

Let me know if this works for you?!

HTH

[2018-07-02 19:13] #43 closed, assigned to nobody

[2018-07-02 19:15] florinpatrascu commented on #22
Etls will be removed, from the next version. Sorry for the confusion created.

[2018-07-02 19:15] #22 closed, assigned to nobody

[2018-07-02 19:15] namxam commented on #45
Thank you. I guess that is the easiest way for now.

But good to know, that you think about adding something similar to what Ecto and Phoenix implement. I guess it is fantastic if there is a _common way_ to handle runtime configuration.

[2018-07-02 19:20] florinpatrascu commented on #45
I wish it was that simple, but the future of configruations is not yet settled. Check the latest discussions about the config, in the Elixir community ;)

But regardless, we have solutions right now, and they work well, until the role that Mix will play in the prod config will be defined. My advice: stick to Distillery, and releases, because it is done well.

[2018-07-03 01:29] yoelfme commented on #43
Hi @florinpatrascu, I forgot to answer the solution to this issue, it worked with the driver's latest version, thanks a lot for your help

[2018-07-03 02:10] florinpatrascu commented on #43
No worries, I figured it will be ok ;)

[2018-07-10 20:40] yoelfme opened #46 "Timeout sometimes after a lot of queries"
Hello, in the latest weeks I was working in a project using Bolt Sips to connect to Neo4j, and today I deployed my service to production but I'm experience some issues, I'm receiving a lot of requests and doing almost 5 queries to Neo4j per request, but sometimes that queries give me a timeout and then my requests answer with an 500 status code.

This is the error:
[code]

Environment:

- Phoenix

[2018-07-11 00:56] florinpatrascu commented on #46
Hi @yoelfme,

The 500 error, is returned by the controller, as a result of the timeout you see above.

That timeout error is happening because the db_connection is trying to checkout a new socket, but it can only wait `5_000` (5 seconds!), after this the call exits. It could be the connection is blocking trying to handshake with the db? Do you monitor the db? If yes, maybe you noticed any anomalie

[2018-07-16 06:10] tckb opened #47 "Fix links to bolt protocol documentation"
Bolt protocol has moved to its separate repository, can you update the links to the actual protocol documentation to serialization  https://github.com/boltprotocol/boltprotocol/blob/master/v1/_serialization.asciidoc#path-structure

[2018-07-21 13:42] florinpatrascu commented on #47
thank you, @tckb! The links are updated.

[2018-07-21 13:42] #47 closed, assigned to nobody

[2018-07-22 20:14] #46 closed, assigned to nobody

[2018-07-25 14:09] nihalgonsalves opened #48 "DBConnection from Hex"
We'd like to stop overriding DBConnection everywhere in our app. In the process of upgrading our outdated dependencies, something broke and another library stopped working due to it expecting a different method in DBConnection. `db_connection` `1.1.3` was released on 13/01/2018 on Hex - is this a recent enough version for `bolt_sips`, and if so, can `bolt_sips`'s mixfile be updated to use the Hex

[2018-07-25 14:15] florinpatrascu commented on #48
@nihalgonsalves - please see [this comment](https://github.com/florinpatrascu/bolt_sips/issues/39#issuecomment-401115832), on #39 We cannot publish a newer version to hex, until the work in the db-connection master branch is becoming a public hex package, sorry.

[2018-07-25 14:30] nihalgonsalves commented on #48
@florinpatrascu oh alright, thanks! To prevent these kind of conflicts, maybe it makes sense to fork DBConnection and use a different OTP name for its dependency in Bolt-Sips?

If not we're stuck not being able to upgrade various packages because plenty of things depend on DBConnection.

[2018-07-25 15:55] florinpatrascu commented on #48
definitely not. db_connection is not far from being published, and I wouldn't fork it to just end up bringing in updates, maintaining an out of sync clone basically, which defies the purpose of your proposal.

Wouldn't `override` dependency option help, in your case? See: [module-dependency-definition-options](https://hexdocs.pm/mix/Mix.Tasks.Deps.html#module-dependency-definition-options)

[2018-07-25 15:58] nihalgonsalves commented on #48
I meant that as more of a stop-gap until `db_connection` is published. If you say it's close to release, then its fine I suppose.

Unfortunately, no. `override` only helps if you have a resolution mismatch and want to force a different version. However, if something actually depends on functionality not there in the overridden version, it doesn't help and the override causes compile and runtime er

[2018-07-30 00:18] edwinallenz opened #49 "Connect to cluster"
I don't see any sample to connect to a cluster, is that option supported by the driver?

cc @yoelfme

[2018-07-30 00:22] florinpatrascu commented on #49
While we’re working on an integrated solution, try this instead: https://github.com/Badiapp/bolt-routing-driver

[2018-07-30 00:22] #49 closed, assigned to nobody

[2018-07-30 01:13] edwinallenz commented on #49
thanks, thats awesome

[2018-09-08 05:34] gamebox commented on #34
I am still seeing a similar issue.  Running Phoenix 1.3.4 with OTP 20 and Elixir 1.7.  Starting a new phoenix project(no brunch, no ecto) adding only the things needed per the README, and I get this:

[code]
I have a more mature app that I've added bolt_sips to receive a similar, but not identical error.

[2018-09-12 12:48] #45 closed, assigned to nobody

[2018-10-21 17:05] florinpatrascu commented on #39
https://hex.pm/packages/bolt_sips/1.0.0-rc2

[2018-10-21 17:05] #39 closed, assigned to nobody

[2018-10-21 17:06] florinpatrascu commented on #48
Bolt.Sips v1.0.0-rc2, available at [hex.pm](https://hex.pm/packages/bolt_sips/1.0.0-rc2)

[2018-10-21 17:06] #48 closed, assigned to nobody

[2018-10-21 17:06] #41 closed, assigned to nobody

[2018-10-21 17:12] florinpatrascu commented on #28
I had to trash a lot of designs, in my attempts to support routing in the driver itself and I wasn't happy with any of them. Plus, I am seriously thinking to change the license for this driver ...

And now with the latest DBConnection, I will have to rethink it again. Meanwhile, if your project: [bolt-routing-driver]( https://github.com/Badiapp/bolt-routing-driver) will be maintained, then I'll re

[2018-10-21 17:12] #28 closed, assigned to nobody

[2018-10-21 17:12] florinpatrascu commented on #44
https://hex.pm/packages/bolt_sips/1.0.0-rc2, is on Hex.pm paving the road for future development.

[2018-11-26 06:04] chungwong opened #52 "using bolt_sips before db_connection v2"
as ecto v2 requries `db_connection: ~> 1.1`, what commit should I use to avoid upgrading ecto to v3?
I am using bolt_sips 0.4.12 and experience an error in production. Neo4j worked for a few hours and threw

`ERROR [o.n.b.t.SocketTransportHandler] Fatal error occurred when handling a client connection:
unable to create new native thread unable to create new native thread
java.lang.OutOfMemoryError

[2018-11-26 13:42] florinpatrascu commented on #52
you can use [`{:bolt_sips, "~> 0.4.12"}`](https://hex.pm/packages/bolt_sips), from Hex.pm, if you are using db_connection 1.x.

Regarding the error, that's not one thrown by the Elixir driver; it is a Java exception, as you most probably realized by now, but I am just clarifying this for the users here not familiar with Java (if any?! ;)

[2018-11-27 00:29] chungwong commented on #52
I am already using  `{:bolt_sips, "~> 0.4.12"}` and I believe it is the same issue as https://github.com/florinpatrascu/bolt_sips/issues/41

For each `Bolt.Sips.query`, it opens a port and never close it. And although I can be wrong, each port on the client is holding a thread on the server as well.

I was monitoring the number of threads neo4j created.
With `0.4.12`
`ps -Tp neo4j_process_id | wc`

[2018-11-27 00:39] florinpatrascu commented on #52
Sorry, I meant the -rc version: `{:bolt_sips, "~> 1.0.0-rc2"}` At the time of that issue, the master was following the dev branch of db_connection 2. The current bol_sipe release candidate is using the rc version of DBConnection.  HTH

[2018-11-27 00:52] chungwong commented on #52
using `{:bolt_sips, "~> 1.0.0-rc2"}` requires upgrading Ecto to V3
[code]

For people like myself uses bolt_sips and cannot upgrade to Ecto 3 at this moment,  it seems 1.0.0-rc2 is not an option but https://github.com/florinpatrascu/bolt_sips/commit/e80616fc785d7a8e0a5e42381008d8ee27f07e0e

[2018-11-27 00:54] florinpatrascu commented on #52
Sorry :/

[2018-11-27 12:16] florinpatrascu commented on #52
Is that commit workig, in your case?

[2018-11-28 19:16] #52 closed, assigned to nobody

[2018-11-28 22:40] chungwong commented on #52
It is working, at least in my use case. Didn't see any error caused by `db_connection`.
Thanks :)

[2018-11-28 22:49] florinpatrascu commented on #52
Cool, thank you.

[2019-02-03 16:30] dominique-vassard commented on #44
Neo4j date types come with timezone, which are supported in elixir 1.8 without the need of an external dependency (calendar to name it).
Do you consider using elixir 1.8 a viable option to add temporal type support?

[2019-02-03 16:38] florinpatrascu commented on #44
As far as I am concerned, I am good with using Elixir's features as out of the box as possible - it's new releases are very stable, from my personal experience -  but I am not sure how will other users receive this suggestion?!

[2019-02-14 19:00] florinpatrascu commented on #44
@namxam - please check the newest version (in master). @dominique-vassard - added lots of good stuff lately, including: [using-temporal-and-spatial-types](https://github.com/florinpatrascu/bolt_sips#using-temporal-and-spatial-types) Please let us know how it works for you.

[2019-02-14 19:05] florinpatrascu commented on #44
available at Hex: https://hex.pm/packages/bolt_sips/1.2.0-rc2

[2019-02-16 14:21] florinpatrascu commented on #44
@namxam & @dominique-vassard - can we close this?

[2019-02-18 21:11] dominique-vassard commented on #44
ok for me

[2019-02-18 22:56] #44 closed, assigned to nobody

[2019-02-22 13:02] Gollor opened #55 "Response is not transformed"
Hi, it seems that the current verison of Bolt.Sips.Response.transform is not working correctly. When i do the next neo4j query...
[code]
I get the next response:
[code]
So the DateTime doesn't get parsed correctly.
Currently I solve this using the next code in my view:
[code]
This is just a workaround using the code I stripped from your Bolt.Sips.Response class.

[2019-02-22 17:31] dominique-vassard commented on #55
Hi,
thanks for your interest and testing.
I've found what the problem was: properties was not considered as potentially containing special types...
PR is on its way!

[2019-02-22 17:50] florinpatrascu commented on #55
thank you both, for finding and fixing this! PR was merged, but I'll publish the package when I get out from work. @Gollor - please use the `master`branch, in case you need this version before that. Thank you!

[2019-02-22 21:10] florinpatrascu commented on #55
published: https://hex.pm/packages/bolt_sips/1.2.1-rc2

[2019-02-22 23:10] Gollor commented on #55
Thank you for quick response! The solution works.

Though this makes me wonder if there is some way to easily encode Bolt structs into jsons. At the moment I have to do it manually via the next code:
[code]
Is it possible to make some kind of extension to Jason library so it could correctly transform the type to the string? At the moment it separates the datetime and time offset separately. I trie

[2019-02-23 14:12] florinpatrascu commented on #55
@Gollor - thank you for feedback. Making an extension to a json library i.e. Jason, probably would be out of scope for us, from the driver's perspective. But we could see the value of some utilitarian functions that could help you when needed; maybe future improvements to the `Bolt.Sips.TypesHelper` module?! I'll close this issue now, but please feel free to open an improvement request, so that we

[2019-02-23 14:12] #55 closed, assigned to dominique-vassard

[2019-02-23 14:16] florinpatrascu opened #57 "(Q&A) steps towards releasing Bolt.Sips version 1.3, stable"
@dominique-vassard - we use the -rc postfix mostly to stay close to the db_connection's own status. Now that db_connection is stable, should we too drop the -rc? What do you think?

[2019-02-24 13:22] dominique-vassard commented on #57
There's only one bug with Duration to fix. nanoseconds are not well treated right now:
- Large amount of nanoseconds (> 999_999_999) should be converted to seconds + nanoseconds
- nanoseconds formating is erroneous
This will be quickly fixed, you'll have the PR on monday (I don't have available time today).

Regarding json encoding,  we could provide some default jason/poison encoder.
It could be

[2019-02-24 15:00] florinpatrascu commented on #57
it all makes sense, totally. Tho' for the `Bolt.Sips.TypesJasonEncoding`, I'd opt for a slightly more generic/cleaner naming convention, i.e.: `Bolt.Sips.TypesEncoder`, a protocol, for example:

[code]

something like that. Them we can provide specialized encoders (using a user json library config param), as you very well described above. Or graphql, in the future ;)

[2019-02-24 15:12] florinpatrascu commented on #55
@Gollor - we're talking about steps towards releasing the stable version of bolt_sips, and your your feedback about encoding types is discussed here: #57, in case you're interested?!

[2019-02-24 22:59] Tomboyo opened #58 "Bolt.Sips.conn returns bare :error"
Ahoy!

I'm able to use Bolt.Sips.conn in my test cases and interactively in iex, but an escript I've compiled is misbehaving. I'm sure this is something wrong with my configuration, but Bolt.Sips.conn returns a bare `:error` symbol, which causes Bolt.Sips.query to fail rather loudly. It looks like the `:error` is coming from `:poolboy's` transaction logic (In the v0.4.12 branch at Connection.ex po

[2019-02-25 10:03] Gollor commented on #57
@dominique-vassard I like this approach. It looks pretty well and as I get it still allows the user to override Jason.Encoder implementation and use his own methods.

[2019-02-25 13:43] florinpatrascu commented on #58
Hi @Tomboyo - thank you for your kind words, about our project. I see you're using the older version of `bolt_sips`. Would it be possible, for your project, to use the latest version? Regardless, I don't believe the driver is initialized properly, before you run the scripts, but I could be wrong. Can you give us more details? Also, make sure that `bolt_sips` is started before your script starts do

[2019-02-25 16:32] dominique-vassard commented on #57
A generic solution is quite appealing, especially if we consider covering multiple special graph formats (graphML, gexf, cytoscape-schaped data, dot, etc.).
For this purpose, a `Protocol` is the de facto solution.

However, regarding json, it is slightly different if we want a seamless implementation in elixir context.
The best example is Phoenix: with the protocol solution, you have to, at some p

[2019-02-25 17:59] Tomboyo commented on #58
Hi @florinpatrascu! I didn't realize there was a newer version (doh!), I will switch over to that first thing. I think you're right--I'm definitely doing something wrong with the configuration specifically in my escript artifact (probably a misunderstanding on my part of Elixir configuration). I will do more playing around with the latest version and come back with what I find.

Thanks!

[2019-02-27 14:03] florinpatrascu commented on #57
this indeed makes the most sense to me.

[2019-03-01 10:54] dominique-vassard commented on #57
Hi,
I've pushed a draft request for some proposals

[2019-03-03 00:15] Tomboyo commented on #58
Huzzah, that did the trick. I did run into a bit of a hiccup with the TZData dependency, because by default it was expecting to find some files in the priv/ folder, but my script wasn't necessarily running in a mix-like directory structure. I've overridden the default configuration and called it a day.

Thanks for the help. :) Working like a charm now.

[2019-03-03 00:15] #58 closed, assigned to nobody

[2019-03-04 00:18] dominique-vassard commented on #57
We're ok for release 1.3?

[2019-03-04 00:21] florinpatrascu commented on #57
Yes, I believe so. It’s just that I’m away from computer and can’t publish right now. The merge was done from my mobile.

[2019-03-04 02:03] florinpatrascu commented on #57
releasing 1.3.0. Thank you so much!

[2019-03-04 02:10] florinpatrascu commented on #57
[1.3.0@Hex.pm](https://hex.pm/packages/bolt_sips/1.3.0), finally :))

[2019-03-04 02:10] #57 closed, assigned to dominique-vassard

[2019-03-05 13:57] dominique-vassard opened #61 "Refactoring: Encode / Decode Sips.types at low level"
# How things are
Today, all Bolt.Sips.Types are encoded / decoded at "high level" while this operations should be done a "low level", i.e in the bolt encoding layer.
This means that they are encoded twice:
- first encoded to a internals-compliant structure / decoded from binary to list
- then encoded into Bolt-compliant binary format

Or decoded twice:
- first decoded from binary to list
- then co

[2019-03-05 14:29] dominique-vassard commented on #61
Regarding `conn` and bolt_version.
Touching conn appears to be a bad idea as it implies massive changes for the least.
Storing it at a lower level (in the DBConnection state) seems a better idea, it's more focused and it allows to access this value in the dbconnection callbacks such as `handle_begin`, `handle_rollback`, etc. Which is pretty nice as Bolt V3 introduces special message for transactio

[2019-03-06 17:03] dominique-vassard opened #62 "Documentation: public / private / guides?"
Hi,
As project grows, document does too.
I found current Hex documentation a little bit messy and it doesn't help user to leverage the true power of bolt_sips.

What can we do?
 - Expose public API in a clear way. As an example today, `Bolt.Sips.ConfigAgent` is at the same level as `Bolt.Sips.Types`, and we know that the first is for internal use only.
We could benefit of the grouping capability o

[2019-03-06 17:55] florinpatrascu commented on #62
Hi Dominique - the documentation is indeed lacking and we'll have to clean it up. It's mostly my fault for just documenting the code I was writing, thinking the driver will not become more than a simple toy a user could use for learning Neo4j & Elixir :) As time passed it became more complex and its applicability today goes beyond a simple ... mix task ... one could use for playing with Neo4j and

[2019-03-06 17:59] florinpatrascu commented on #61
I thought about this too, but then for the `bolt+routing` we'll first have to connect *before* starting a pool of connections, check the server version and decide the routing strategy only after we have the server version. Storing it in the DBC state is probably not the ideal way, when recalculating the routes?! Not sure yet.

[2019-03-06 19:03] dominique-vassard commented on #61
I don't know, I didn't look deep enough in `bolt+routing` to understand exactly how it works.
but the state which I update is one used in `Bolt.Sips.Protocol` then it's not the one where pool is stored.
In fact there was only `sock` in it, now it contains `%ConnData{sock: sock, bolt_version: 1}`. so I imagine that adding a `routes` key is manageable.

I'm not 100% sure but I don't think there will

[2019-03-06 21:03] florinpatrascu commented on #61
oh I misunderstood what you meant by `DBConnection state`, sorry 👍

[2019-03-07 19:10] dominique-vassard commented on #62
I do like docs with example and explicitness everywhere, that usually makes me want to use the thing and believe the thing is great.
And as bolt sips is different from other Neo4j driver, an extensive doc is mandatory event for Neo4j "senior" users.
I don't think we anything but Hex for doc for now but why not an external site if it's not a considerable amount of work. The distillery example is a

[2019-03-07 19:14] dominique-vassard commented on #61
No problem.

I'll be off for 1.5 week at least, so don't expect a PR soon :)

[2019-03-24 10:15] dominique-vassard commented on #61
done :)

[2019-03-24 10:15] #61 closed, assigned to dominique-vassard

[2019-04-01 10:27] dominique-vassard commented on #62
GatsbyJS looks a bit overpowered for our needs. It's highly customizable yes but I'm more into simpler alternatives, which are still very efficient like [mkdocs](https://www.mkdocs.org) or [docsify](https://docsify.js.org).

[2019-04-01 13:26] florinpatrascu commented on #62
I honestly looked at it first because I like shiny things :) I am sucker for good fonts, clear layouts and  natural color palettes; spending lot of time customizing my Terminal, editors and so on. But the most important aspects I was looking at when reading about GatsbyJS, were: publishing and the ability to write markdown. Both being very well supported, by GatsbyJS.

Publishing is so easy too. O

[2019-04-18 17:39] daveman1010221 commented on #37
Hello! I am trying to use bolt_sips on Mac OS High Sierra, with {:bolt_sips, "~> 0.2.0"}, and latest erlang/elixir/mix from brew, which at this time is: Erlang/OTP 21 [erts-10.3.4], Elixir 1.8.1, Mix 1.8.1. I am following the docs here: https://hexdocs.pm/bolt_sips/0.2.0/Bolt.Sips.html#conn/0 (bottom of the page) with a localhost connection. I get the following output:

`iex(6)> conn = Bolt.Sips.c

[2019-04-18 17:45] daveman1010221 commented on #37
Ugh, nevermind. Somehow, I managed to end up on a very old version of Bolt.Sips. The new version is way different. :-/

[2019-04-18 18:20] caldempsey commented on #37
Hey florin thank you so much. Had a few drinks at the bar but I'd like to extend my love and respect to you and your team. Buy everyone coffee on me! Cheers!

[2019-04-18 18:35] daveman1010221 opened #65 "Unsupported authentication token, missing key `scheme`: {user_agent='BoltSips/1.5.1'}"
Following the directions here:

https://hexdocs.pm/bolt_sips/1.5.1/readme.html

I get the following when attempting connection:

14:23:59.458 [error] Bolt.Sips.Protocol (#PID<0.276.0>) failed to connect: ** (Bolt.Sips.Internals.Error) Unsupported authentication token, missing key `scheme`: { user_agent='BoltSips/1.5.1' }

I've double-check my config, which is as follows:

`  def application do

[2019-04-18 20:27] florinpatrascu commented on #37
Haha thank you! ❤️

[2019-04-18 20:41] florinpatrascu commented on #65
Hi @daveman1010221 - can you please use strings for the password and username? Try this:

[code]

The `hostname` still needs to be a charlist, that caveat is on us, but we'll change that soon, sorry for the inconvenience.

Also, you can always use an even shorter form, for configuring the access to your server. The `url`, like this:

[code]

HTH

[2019-04-19 00:44] daveman1010221 commented on #65
Hello! I ended up with single quotes instead of doubles by trying lots of different things, a few variants I noticed in the docs. The double quotes yields the same result: missing key `scheme`. I think the error is coming back through the DB engine, as I see the same message in the DB logs. It seems like it doesn't like that user_agent string?

[2019-04-19 01:51] florinpatrascu commented on #65
Hmmm ... please remove the references to Bolt.Sips from your `applications `, in `mix.exs`

[code]

and restore it to its original form. No need for the above, and I'll fix the docs, sorry for the confusion. Then  start the driver under your app' supervision tree i.e. in your `application.ex`

[code]

[2019-04-19 01:57] florinpatrascu commented on #65
I also updated the main README, as it was confusing.

[2019-04-19 02:07] florinpatrascu commented on #65
Also, please see how I am using Bolt.Sips in this simple phoenix (1.4) app: https://github.com/florinpatrascu/bolt_movies_elixir_phoenix

just updated for using the latest version of Bolt.Sips - HTH

[2019-04-19 13:26] daveman1010221 commented on #65
Victory!
`iex(1)> {:ok, pid} = Bolt.Sips.start_link(url: "localhost", basic_auth: [username: "neo4j", password: "somepassword"])

{:ok, #PID<0.228.0>}

iex(2)> conn = Bolt.Sips.conn

:bolt_sips_pool

iex(3)> Bolt.Sips.query!(conn, "RETURN date({d}) AS d", %{d: ~D[2019-02-04]})

[%{"d" => ~D[2019-02-04]}]`

I can see now what the problem was... For some reason, the config was not getting passed, wh

[2019-04-19 14:04] florinpatrascu commented on #65
❤️ ❤️ ❤️

[2019-04-19 14:04] #65 closed, assigned to nobody

[2019-04-19 14:11] florinpatrascu commented on #62
few thoughts - working at the routing part these days, I realized how much we need to work for bringing the documentation where we want it to be. And the new functionality will only add more docs to the exiting ones. Let's stay with the support we have in the language itself; module docs, doctests, readmes and eventually a folder with examples and their associated go-through mini-guides. At least

[2019-04-19 16:27] florinpatrascu opened #66 "chores: port some of the official Neo4j driver tests to Bolt.Sips, using boltkit"
The official Neo4j drivers are using more and more the support offered by the
[boltkit](https://github.com/neo4j-drivers/boltkit) toolkit, and we too would like to use it.

`boltkit ` is extremely useful for development, offering a great test-bed for simulating server responses in various scenarios. You can see how the above mentioned drivers are implementing their tests with it, for example these

[2019-04-21 15:26] dominique-vassard commented on #66
Very very nice idea.
I've already know about bolt_kit but get stuck at the point where I asked for AWS credentials to have a dev cluster running in one command but never get any answer back.
Anyway, I didn't look much into `boltstub` but it's really interesting, especially if we can use the scripts already written by Neo4j's team.

I've just spent some time today on the subject and it seems that t

[2019-04-21 21:43] brotheroftux opened #67 "Timeout on all queries after 15 minutes of inactivity"
Thanks for your hard work on this driver.

I never ran into this issue whilst working in a development environment, since there was little downtime between subsequent queries. However, after testing out the current build on a production server, I noticed that all the query execution attempts after ~15 minutes of inactivity produce a timeout exception.

My configuration for the driver is as follows

[2019-04-21 22:04] florinpatrascu commented on #66
actually I was thinking to wrap it in its own .sh scrip and/or starting it at the beginning of the tests, something like this:

[code]

so no GenServer, in this case. Mind you, the above is not tested :)

not needed either, if the scenario above works?!

The `ConfigAgent` is gone :) The "routing" code acts as a "hub" for connections, and each connection maintains its own configuration; the latter

[2019-04-21 22:13] florinpatrascu commented on #67
Hi @brotheroftux - thank you for your kind comments. This is weird. I have apps running on heroku for days, and they never encounter this situation. I wonder if the docker container is terminated somehow or if it is refusing the connections after some "idling" period of time. @dominique-vassard, have you encountered anything like this recently?

@brotheroftux - can you post the errors you see, fro

[2019-04-21 22:14] florinpatrascu commented on #67
also make sure the docker version doesn't require `:ssl`!

[2019-04-21 22:25] brotheroftux commented on #67
@florinpatrascu Thanks for your quick response.

This is the stacktrace:

[code]

As you can see, this is quite inconclusive to say the least.

I copy-pasted your config (the pooling options etc.), will give it some time now to see if this fixes anything.

I am 100% sure the container is not terminated. The issue is fixed by just restarting the Phoenix application (which is not really convenient,

[2019-04-21 22:35] brotheroftux commented on #67
Hilarious. Then it started working again.
![image](https://user-images.githubusercontent.com/1677844/56476318-980b5280-649e-11e9-9a15-d918fdd76dd4.png)

Config changes made no effect. My local instance of the API server still fails.

[2019-04-21 22:48] florinpatrascu commented on #67
Ugh that’s strange.

[2019-04-22 00:34] florinpatrascu commented on #67
Btw what Erlang version is used with the app? Probably not the case but I’ll leave this here, for reference: db_connection/issues/127

We’ll make sure the next version will have a more verbose logging.

Also, when you get the timeouts, can you open an iex session to the prod env and check if you can run a simple cypher? And can you please check if the the Neo4j server logs are showing anything sus

[2019-04-22 00:45] florinpatrascu commented on #67
Oh and we also have this option:

[code]
But make sure the log level is set to `:debug`, i.e.:

[code]

This will definitely show you what’s happening between the app and the server but it could be extremely verbose, not a recommended setting for production.

[2019-04-22 08:31] dominique-vassard commented on #67
Hi,
I didn't encountered this issue recently, but I don't have any project which idle that long, at least with the current bolt_sips version.

I'm curious then I will test on my laptop (with and without docker), see if I can reproduce the issue.

[2019-04-22 10:24] dominique-vassard commented on #66
Your code works, but we still need to feed a new script to `boltstub` for each test.
`boltstub` is just a dummy server that will match a client command and answer what the script told it to answer. And nothing more.
If you consider the following script:
[code]
It will fail for any query that is not `RETURN 1 AS num` with out parameters.

not needed either, if the scenario above works?!

`boltstub`

[2019-04-22 10:24] dominique-vassard commented on #67
Seems to work fine with OTP 21 here

[2019-04-23 19:17] brotheroftux commented on #67
Confirmed: the issue was our reverse proxy server. Sorry for the trouble.

Thanks for your responses, @florinpatrascu @dominique-vassard

[2019-04-23 21:52] florinpatrascu commented on #67
Thank you, Daniel! The case and the feedback is important to us. Please feel free to share any feedback or suggestions, we’ll be happy to help!

[2019-04-23 21:52] #67 closed, assigned to nobody

[2019-04-29 14:09] florinpatrascu opened #68 "the new Bolt.Sips version (2.0) will not contain the Bolt.Sips.Success module anymore"
Heads-up; please don't use the Bolt.Sips.Success module, for custom implementations - it will go away in the new version, together with some other components, as a result of a large driver refactoring process.

[2019-04-30 12:02] florinpatrascu commented on #66
BTW since the `boltkit` is written in python, this fresh off the press story might be relevant to our story here: [Mixing Python with Elixir](https://hackernoon.com/mixing-python-with-elixir-7a2b7ac6696)?!

[2019-05-05 09:30] dominique-vassard opened #69 "[bolt v3] Bolt.Sips.transaction crash with invalid query"
Considering the awaited return, which happened in bolt version 1 and 2 (Neo4j < 3.4)
[code]

The same code in a bolt V3 Neo4j server:
[code]

This is due to how DBConnection handles the transaction:
- execute the query
- rollback if there is an error

But in Bolt v3, a `rollback` is automatically performed at server-level if query is invalid.
All is required is a `RESET` message...

[2019-05-07 14:53] dominique-vassard commented on #69
Investigation leads to discover some weird stuff.
When server sends back a `FAILURE` message:
- If it's due to a invalid query, a `RESET` and then everything's fine
- If it's due to an invalid message (for ex. `COMMIT`, `ROLLBACK`), then socket is closed and can't be used anymore

I opened a topic on Neo4j's forum in order to know if it's the expected behaviour or not.

[2019-05-07 22:03] florinpatrascu commented on #69
a rollback initiated by the server sounds awkward, from the server' design perspective. I'm following your thread on on their forums and await for replies.

[2019-05-12 18:49] florinpatrascu commented on #66
hi just published this: https://github.com/florinpatrascu/fixex, maybe useful?! ;)

[2019-05-19 17:28] florinpatrascu commented on #66
closing this as I am able to use the official test stubs provided by the Python driver, with the `FixEx`. Still tinkering at it, but this how a simple test looks like now, with `FixEx`:

[code]
useful for covering a good amount of use cases.

[2019-05-19 17:28] #66 closed, assigned to nobody

[2019-05-20 14:27] florinpatrascu commented on #66
update:
- while the above works for some simpler use cases, and it's clean too, for the most complicated scenarios, the ones where the python support in boltkit is expecting generators, from us, the Erlport package fails - and since I am just an amateur in Python, I should probably delegate this to more Python-savvy troubleshooters. Will try using the stubs via Porcelain and see where I end up. Ot

[2019-08-10 10:36] yatender-oktalk opened #71 "timeout is happening while querying."
stacktrace
[code]

## Environment

[code]

[code]

while executing query randomly it gives timeout then again after retrying it works fine. I was using previously  :neo4j_sips, "0.2.18", it never gave such timeouts. I decided to move it to this library then this is happening let me know if you want any other info which can help you to debug this issue or in case I'm doing something wrong.

[2019-08-10 13:20] florinpatrascu commented on #71
can you time the db response, for the query you're running? It might be that your query takes longer to execute? Also, you might try the latest version of bolt-sips, the 2.0.0-rc.x

The other driver you refer to, was using neo4j's older REST API, for communicating with the server.

[2019-08-10 17:21] yatender-oktalk commented on #71
No query doesn't take time at all, it's just a simple search query on indexed field with limit 1, sometimes it just execute within 1 ms and sometimes it just don't connect at all, I tried using the 2.0.0-rc.x only but there was also same case so I thought of using this one but this version also gives the same issue.

[2019-08-10 17:31] florinpatrascu commented on #71
It’s very weird. I honestly don’t believe it’s from the driver. Since you tried both versions, and thank you for that, you also tried two different implementations of db_connection, the library we use for managing the connections to the server. I highly doubt we would’ve missed a issue like this. But everything it’s possible. Can you make sure the server is responsive?? Of curiosity, is your serve

[2019-08-10 17:59] yatender-oktalk commented on #71
Yeah server is responsive, when I restart the application it gives me results but as soon as i keep application idle and don't do any query it starts giving timeout for next queries I do after keeping it idle.
No I'm not running in docker container it's a standalone server only.

[2019-08-10 18:17] florinpatrascu commented on #71
for how long was the application "idle"? Also can you please set the `:idle_interval` to 5000?

[2019-08-10 18:23] florinpatrascu commented on #71
also please check: #67, too.

[2019-08-10 18:34] yatender-oktalk commented on #71
idle_interval: 5000 now

steps I'm doing basically
- application started
- did some basic queries (everything worked fine for different-2 queries)
- kept it idle for 3-4 min
- did queries (everything worked fine)
- kept idle for 1 min
- did queries ( timeout from now on for every query)

#67 I checked already but we are not using any reverse proxy or anything.

[2019-08-10 19:28] florinpatrascu commented on #71
I am sorry, I cannot reproduce this. I kept a Neo4j 3.5.3 server open and an app idle for 20 minutes now and I can still get the query running. Forced `:idle_interval` to 100.

[2019-08-10 19:40] #69 closed, assigned to nobody

[2019-08-10 19:41] florinpatrascu commented on #62
the documentation will be hosted by HexDocs

[2019-08-10 19:41] #62 closed, assigned to nobody

[2019-08-10 19:41] #68 closed, assigned to nobody

[2019-08-11 03:36] Tomboyo opened #72 "UndefinedFunctionError during Bolt.Sips.start_link after migrating from 1.3.0 to 1.4.0 or 1.5.1"
## Environment

* Elixir 1.8.2 (compiled with Erlang/OTP 20), Interactive Elixir (1.8.2)
* Neo4J 3.5.6
* Connecting via bolt:// (see below)
* Bolt.Sips 1.5.1
* Ubuntu 18.04.2 LTS (Bionic Beaver)

## Current behavior

I call the following code in IEX to start my bolt.sips connection, unchanged from how I did with version 1.3.0 of Bolt Sips:

[code]

and the following is logged in response:

[code]

[2019-08-11 03:44] yatender-oktalk commented on #71
if possible can u give me your email id?

[2019-08-11 03:59] yatender-oktalk commented on #71
looks like some issue with the Neo4j 3.5.1 only (i guess), when I'm trying with Neo4j 3.5.8 version it hasn't given timeout exception yet, in last 30 mins I'm connected with it and it's working fine till now, will keep you updated.

[2019-08-11 06:12] yatender-oktalk commented on #72
Bolt.Sips.start_link(url: "bolt://secret@localhost") try this, mine is working fine & getting connected.

[2019-08-11 06:14] yatender-oktalk commented on #71
somehow, everything is working fine now, for Neo4j 3.5.8  & Neo4j 3.5.1 versions.
don't know what was the issue, thank you so much for help.
will close the ticket for now.

[2019-08-11 06:14] #71 closed, assigned to nobody

[2019-08-11 13:16] florinpatrascu commented on #72
@Tomboyo - can you please try this:

[code]

BTW, your original config will work with Bolt.Sips 2.x. ; we reworked the config support, among other features.

And also, unrelated to Bolt.Sips but would help your app, see if you can upgrade the Erlang version?! - see the discussion above: [ecto/db_connection/issues/127](https://github.com/elixir-ecto/db_connection/issues/127#issuecomment-402407833),

[2019-08-11 18:59] Tomboyo commented on #72
I checked for software updates, but there weren't available via aptitude. For clarity, I'm on Erlang/OTP 22; my un-redacted version output is:
[code]
I have another OS with locally-compiled Elixir that I can use to test against bleeding-edge elixir/erlang, if that would be helpful. I _think_ it's on 1.9.something right now.

Following @florinpatrascu 's suggestion to add the socket option garnered

[2019-08-11 19:40] florinpatrascu commented on #72
I've tried using your server version, and I can connect. Basically, in the root of the bolt_sips project (v1.5.1), I am running the following:

$ DEBUG=1 iex -S mix

[code]

and then trying simple queries also works, excerpt:

[code]

observe please the port: `7472`. This is the default bolt port for, a fresh install, according to the `neo4j.conf` file, excerpt:

[code]

[2019-08-15 17:57] florinpatrascu commented on #72
I’ll close this for now, as I’m not able to reproduce it and there’s no new reports on it. Please feel free to reopen this issue should you encounter related troubles or find additional details that can help us all understand better your case.

[2019-08-15 17:57] #72 closed, assigned to nobody

[2019-08-15 18:56] Tomboyo commented on #72
Fair enough! I'll try to narrow down what's going wrong at some point and
circle back here if I can deduce where the error is. It sounds like it's an
environmental problem given you were able to connect to my build of neo.

Thanks all for your time and help!

On Thu, Aug 15, 2019, 1:57 PM Florin <notifications@github.com> wrote:

[2019-08-15 19:01] florinpatrascu commented on #72
Please do reopen it, if you can help us reproduce that error. We definitely don’t like losing sight of a potential trouble. Thanks again for trying our implementation and please try to stay as close as possible to the most recent releases :) /cc @dominique-vassard

[2019-09-07 20:34] Tomboyo commented on #72
I've confirmed this was a problem on my end, thought I'd share. I'm not precisely sure what happened because I had an unconventional, wrong, misguided bit of project structuring, but I believe that structuring broke dependency lookup for :ssl and :crypto. I initially had to add :ssl to my extra_applications, which resolved the issue. I've since fixed the structure, removed the dependency on :ssl,

[2019-09-07 20:50] florinpatrascu commented on #72
Many thanks, for the feedback. It really helps us maintaining this project. Thanks you!

[2019-09-29 18:54] marcosmko opened #73 "Simple Query taking too much time to process"
# Precheck

* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

## Environment

* Elixir version (elixir -v): 1.9.1
* Neo4j and version (Neo4j 3.5.3, etc.): 3.5.8
* Connection scheme (`bolt://`, `bolt+routing://` or `neo4j://`): bolt://
* Bolt.Sips version (mix deps): 2.0.0-rc.2
* Operating system: Phoenix running on MacOS 10.14, Neo4j r

[2019-09-29 20:22] dominique-vassard commented on #73
Hello,
your query and how you execute it is fine.
And unfortunately yes, there is quite a big overhead from BoltSips.
We will investigate to understand where this comes from and fix it. It can take some time as it can deeply impact the internals of bolt sips.

A quick workaround for your problem is to narrow your query to only what you need, i.e instead of
`MATCH (p:Place) RETURN p AS place`, you

[2019-10-03 18:51] yoelfme opened #74 "Application exited: shutdown"
## Environment

* Elixir version (elixir -v): 1.8.0
* Neo4j and version (Neo4j 3.5.3, etc.): Neo4j 3.3
* Connection scheme (`bolt://`, `bolt+routing://` or `neo4j://`): bolt://
* Bolt.Sips version (mix deps): ~> 2.0.0-rc
* Operating system: Ubuntu 18.04

## Current behavior

I just followed your [Getting started](https://github.com/florinpatrascu/bolt_sips/blob/master/docs/getting-started.md) guid

[2019-10-03 19:20] dominique-vassard commented on #74
Hi,
What is your OTP version?
Bolt Sips uses features available in OTP 21+ and the error you encountered resembles one I faced with my own package until I upgrade OTP to version 21 :)

[2019-10-03 19:29] yoelfme commented on #74
thanks @dominique-vassard, I'll try with that, I'm seeing that my OTP version is 20.

[2019-10-03 21:15] marcosmko commented on #73
Hmm okay, thanks!

I will try your suggestions, and if I have some time, I will try to investigate where is the bottleneck (although I'm just an amateur in elixir).

Cheers.

[2019-10-08 23:07] dominique-vassard commented on #73
Ok, found something with `Code.ensure_loaded` called too many times....

The test runs on 1000 nodes.

First, it was
[code]

After  change, it becames:
[code]

And if logs are disabled, it is:
[code]
It's a little bit faster ;)

I've just have to check one other  thing and then I'll commit.

[2019-10-08 23:09] florinpatrascu commented on #73
W⦿‿⦿t!

We’ll have the 2.0 release this week ❤️

[2019-10-09 16:24] dominique-vassard commented on #73
Just a quick ad: @marcosmko if you're using Ecto, https://github.com/dominique-vassard/ecto_neo4j may interest you.
Current available version on hex is crap but as soon as bolt_sips 2.0 is available, the new nice version will be released :)

[2019-10-09 16:34] florinpatrascu commented on #73
(if we have travis fixed and passing, then we'll push 2.0 tonight :) )

[2019-10-09 21:44] florinpatrascu commented on #73
and we're 2.0.2 =)

https://hexdocs.pm/bolt_sips/getting-started.html#content

Thank you all for your patience, feedback and code contributions!

You're awesome!
❤️

[2019-10-09 21:53] florinpatrascu opened #76 "broken links for some pages, after publishing the docs"
I.e. https://hexdocs.pm/bolt_sips/docs/getting-started.md#Starting-the-Driver

[2019-10-15 12:30] florinpatrascu commented on #74
@yoelfme - any feedback on this?

[2019-10-16 00:35] marcosmko commented on #73
Hello all! I was on a trip last week so I didn't have time to answer 😆

I have just tested here, and it's f***** awesome!
Testing with 100 nodes, it became from 1s to 50ms.

Thanks all for your hard work!
I hope that I can contribute in the future, as I am still learning elixir 😍

@dominique-vassard Okay, thank you! I will see and try it 😄

[2019-10-16 00:35] #73 closed, assigned to nobody

[2019-10-16 10:21] florinpatrascu commented on #73
Haha, noiceee 😀 Thank you, for confirming the changes had a positive impact ❤️

[2019-10-16 16:56] yoelfme commented on #74
sorry @florinpatrascu, it worked with the changes that @dominique-vassard said, thanks!

[2019-10-16 16:56] #74 closed, assigned to nobody

[2019-11-30 02:38] Tomboyo opened #78 "Consistent bad connection state after malformed query: "... You need to\n`ACK_FAILURE` or `RESET` ...""
I have the following fulltext index on my database:
[code]

And the following Bolt.Sips configuration (note the pool_size of just 1):
[code]

If I issue the following malformed query (because `badparen)` is not quoted and is therefore treated like a Lucene query containing syntax errors):
[code]

Then that query correctly fails with an error from Apache Lucene:
[code]

But! If I then try to issue

[2019-11-30 15:57] florinpatrascu commented on #78
thank you for the detailed report, I'll try to reproduce it on my local. This is using one of the APOC's stored procedures, right?

[2019-12-01 16:33] Tomboyo commented on #78
To my understanding, the `db.index.fulltext.createNodeIndex` & `queryNodes` procedures come standard with 3.5. I haven't intentionally installed APOC, at least, and `CALL apoc.help('apoc')` fails due to unknown procedure.

[2020-01-03 19:27] florinpatrascu commented on #78
@Tomboyo - would you mind testing with the code from our `master` branch and report back your findings?! Thank you!

[2020-01-03 19:29] Tomboyo commented on #78
Gladly! I'll give it a shot this evening. :)

On Fri, Jan 3, 2020, 2:27 PM Florin <notifications@github.com> wrote:

[2020-01-04 01:25] Tomboyo commented on #78
I can confirm that this is working on master against my database. :)

[2020-01-06 19:42] florinpatrascu commented on #78
I just published a new release, published to https://hex.pm/packages/bolt_sips/2.0.3, containing all the new improvements, including the fix for this issue. Please feel free to close it, if you're satisfied with the new version :)

Thank you, @Tomboyo and @kristofka!

[2020-01-14 20:06] kristofka opened #81 "Road to neo4j 4 and streaming"
Hi Florin,

Neo4j v4 is near, I've run the tests against the latest version and they fail because the syntax for
parameters names `{param...}` is deprecated. I think we should make a new branch with updated
tests, just to see where we're standing.
Would it be ok if I started a new branch for this purpose?

Also, I know you're planning streaming support, and I would like to know what the strategy s

[2020-01-15 12:11] florinpatrascu commented on #81
Absolutely, please feel free to create the new branch, thank you! In relation to streaming, I am not able to find a clean design, yet. The causal cluster makes this even more complicated. Will try to create a branch and prototype in the open. I’ll take another shot at this :)

[2020-01-17 02:08] Tomboyo commented on #78
Just got around to building with the new release. Looks good there as well, going ahead and closing this. Thanks everyone!

[2020-01-17 02:08] #78 closed, assigned to nobody

[2020-02-01 18:43] #76 closed, assigned to florinpatrascu

[2020-02-17 15:56] meerifan89 opened #83 "Bolt.Sips.Protocol disconnected: ** (DBConnection.ConnectionError)"
Hey guys!

We have a quite heavy query and we are running in a timeout.

[code]

Further we get this message:
[code]
We did set the timeout in the config to 60s, but this did not solve the issue.
We checked and we could confirm that the timeout is loaded correctly when starting the app.

We also wrote a test query to simulate our heavy query.

Here it is:
[code]

We run into the same issue when ru

[2020-02-17 16:17] dominique-vassard commented on #83
Hi,
thanks for your interest in bolt_sips.

Quick check: Are you using the last version of bolt_sips(2.0.4) as a recent PR was about setting timeout in options.
-> https://github.com/florinpatrascu/bolt_sips/pull/82

If you are using this version, then we have a bug and will happily fix it :)

[2020-02-17 21:25] kristofka commented on #83
Could you try passing the `timeout` option to the query eg : `Bolt.Sips.query!(conn, "MERGE (u:Stuff) FOREACH(i IN range(0, 99999) | SET u.stuff = i) DELETE (u)",%{}, timeout: 60_000)` with the latest version?

@florinpatrascu , @dominique-vassard : I'd like to investigate this if it's ok with you (I'll have a little time in the next few days).

[2020-02-17 21:43] florinpatrascu commented on #83
absolutely @kristofka, thank you for help!

[2020-02-18 08:04] meerifan89 commented on #83
Thanks for your really fast reply. Jep, we are using this version.
[code]

[2020-02-18 10:20] meerifan89 commented on #83
So I tried your suggestion with the timeout given into the query function. It does not have any effect. It takes nearly the same amount of time until it results in a timeout.

Maybe I should add, that we are using `Bolt.Sips.transaction` to execute the query in our code base. This might has an effect on how to approach the issue.

Thanks for your help!

[2020-02-18 14:46] kristofka commented on #83
I believe I have identified the issue, I need to do a bit more work and testing and will hopefully have a pull request ready in a couple of days.

[2020-02-21 20:47] kristofka commented on #83
@meerifan89 Could you try against master, passing the timeout to your query eg `Bolt.Sips.query!(conn, "MERGE (u:Stuff) FOREACH(i IN range(0, 99999) | SET u.stuff = i) DELETE (u)",%{}, timeout: 60_000)` ?
@florinpatrascu has merged a request that should fix the issue.
Thank you.

[2020-02-22 21:12] florinpatrascu commented on #83
@meerifan89 - you can use it directly from [Hex.pm](https://hex.pm/packages/bolt_sips/2.0.5)

This release is introducing a series of optimizations that are useful beyond the fix of this particular case, many thanks to @kristofka, for this!

But yes, please test first and then feel free to close this issue.

Thank you for reporting the bug and for your feedback!

[2020-02-23 00:34] willricketts opened #85 "Unable to connect when using authentication"
## Environment

* Elixir version (elixir -v): 1.9.4
* Neo4j and version (Neo4j 3.5.3, etc.): 3.5.14
* Connection scheme (`bolt://`, `bolt+routing://` or `neo4j://`): bolt://
* Bolt.Sips version (mix deps): 2.0.2

## Current behavior

Background:
The application in which I'm using Bolt.Sips is an umbrella in which a single sub-app handles a connection with Neo4j.

I've never been able to connect to

[2020-02-23 01:32] florinpatrascu commented on #85
Hi @willricketts - could you please try `config :bolt_sips, Bolt.Sips,` rather than `config :galaxy_map, Bolt`? Unless you’re explicitly initializing the driver in a specific way?!

[2020-02-23 01:48] willricketts commented on #85
Sadly this change produces the same effect.

[2020-02-23 01:56] florinpatrascu commented on #85
That’s weird, can you please post how you start the driver, as a short code snippet?! Also, did you try to specify the username and password in the url?! I’ll troubleshoot this as soon as I get near a computer.  Sorry for the delay.

[2020-02-23 02:02] willricketts commented on #85
No problem man! All open source is a gift and you owe me absolutely nothing <3

This is how I'm starting Bolt.Sips within `application.ex`:

[code]

I haven't tried interpolating the auth into the URL, but I'll try that now.

[2020-02-23 02:22] willricketts commented on #85
I just tried interpolating basic auth into the url -> `bolt://{username}:{password}@{url}:{port}`
with the same result.

One thing I just want to make sure that's clear is that I'm utilizing Bolt.Sips inside an umbrella in a sub-app.

[2020-02-23 11:46] kristofka commented on #85
Does the connection fail if you pass the configuration as a keyword list in the second element of the child `Bolt.Sips` eg : `chlidren = [ {Bolt.Sips, [url: url, basic_auth: [ username: uname, password: pword], ssl: true]} ]`
I've created an account on graphene and was successfully able to connect to the database through bolt sips with ssl enabled.

[2020-02-23 12:09] florinpatrascu commented on #85
Maybe there’s a issue with how the app is configured?! @willricketts is specifying it is an umbrella app. I wonder: are the params available, when the driver starts?!

[2020-02-23 16:43] willricketts commented on #85
@kristofka I tried this as well with the same result. I've also verified that all environment variables are set correctly at runtime.

@florinpatrascu That's honestly what I'm leaning toward being the case, however I had the same problem with a Phoenix app and a plain old elixir app as well.

The funny thing is that this project being an umbrella app has introduced a lot of complexity around other

[2020-02-23 16:51] willricketts commented on #85
I just created an empty Phoenix app and was able to connect to Graphene via `iex` by calling `start_link` on `Bolt.Sips` and passing the url with basicauth interpolated as well as setting `ssl` to true.

I was also able to connect by configuring `Bolt` within `dev.exs`. Somehow, this same pattern breaks within an umbrella.

Another important point is that I'm connecting to a few other external ser

[2020-02-23 17:55] florinpatrascu commented on #85
I too just verified that the auth mechanism works; as expected. Maybe it is indeed something specific to your configuration, but I am not sure what.

@willricketts - if you are able to start the bolt driver, then you can connect to the running app and check what is the state of the driver. This can be easily done by calling this: `Bolt.Sips.info`, from your remote session. You'll see something lik

[2020-02-23 19:05] willricketts commented on #85
This is something I've wanted to do since I deployed to a Gcloud Kubernetes cluster, but I'm not too sure of how I can get to an IEx session within one of those instances.

I've been reading as many articles and how-tos on umbrella configuration as I can find this morning, and it honestly seems like everything is properly in place.

This is an issue I've experienced in two umbrella projects, and I

[2020-02-24 09:22] meerifan89 commented on #83
works perfectly fine!
Thanks a lot for the quick fix!

[2020-02-24 09:22] #83 closed, assigned to kristofka

[2020-02-28 12:55] florinpatrascu commented on #85
@willricketts - is this issue something you believe our team could help you with? I can't find any problems with how the authentication works today. Can this issue be closed?

[2020-02-28 15:27] willricketts commented on #85
I guess this can be closed. I've tried every possible configuration and can't get Bolt.Sips to work inside an umbrella. I was forced to rebuild as a standalone app.

[2020-02-28 15:27] #85 closed, assigned to nobody

[2020-02-28 15:30] florinpatrascu commented on #85
sorry to hear that, @willricketts
I'll try to build a simple umbrella app, one of these days, and see if I stumble upon similar issues.

[2020-03-04 13:06] sascha-wolf commented on #83
I still seem to run in said issue - on the latest `master` version - using this query:

[code]

### Error
[code]

[2020-03-04 13:58] sascha-wolf commented on #83
After drilling down into this for over an hour I was able to "fix" this by explicitly passing a `timeout` to `Bolt.Sips.query` which then gets dragged along to `DBConnection.execute`.

I'm quite confused though that the options passed to `DBConnection.execute` are empty by default and in no way impacted by what configuration was set using `config :bolt_sips, Bolt`.

In my opinion this is either a

[2020-03-04 18:23] kristofka commented on #83
I’m sorry about this. The timeout configuration is the time after which a connection attempt will fail.
I thought that changing the language of the configuration guide ( https://hexdocs.pm/bolt_sips/configuration.html#content ) to say timeout : connection timeout and documenting the behavior of Bolt.Sips.query/4 ( https://hexdocs.pm/bolt_sips/Bolt.Sips.html#query/4 ) would be explicit enough, obvi

[2020-03-05 02:28] florinpatrascu commented on #83
The timeout param from BoltSips is passed to the underlying  DBConnection lib, when we start. That timeout should be the maximum time that the caller is allowed to perform the operation (default: 15_000)

The reason, the query options are empty, is not a bug. They were introduced to allow the user to override the driver initial config, with a per request values  ie overriding the timeout value. Th

[2020-03-09 00:01] aknicram opened #86 "No write operations are allowed directly on this database. Writes must pass through the leader. The role of this server is: FOLLOWER"
**Environment**:

- Google Cloud Platform
- Kubernetes 1.14.10-gke.17
- Neo4j Enterprise Edition installed via Marketplace (number of cores: 3) (https://github.com/neo-technology/neo4j-google-k8s-marketplace)
- Bolt Sips - 2.0.5
- Elixir version:

[code]

**Kubernetes services**

[code]

**Service address**: sx-causal-cluster-neo4j.neo4j.svc.cluster.local

The address is built according to the: ht

[2020-03-09 15:38] florinpatrascu commented on #86
hi @kalamarski-marcin and thank you, for the very detailed report! We work a bit different than the js driver, that's for sure, but it's interesting to see how other fellows are coding ;) However, as far as identifying the server roles we should yield the correct behavior.

I'll look into the host param story, as it looks like you might've found a bug, sorry for that.

One aspect that worries me t

[2020-03-09 22:27] aknicram commented on #86
Hi,

Thx for fast reply :)

In a short pod = core server. Each pod has more or less the same configuration. What makes the difference is `advertised_address` config option set differently for each pod. All of them have the same ports opened: 5000, 6000, 7000, 7473,7474, 7687.

According to the Kubernetes docs (service): Kubernetes gives Pods their own IP addresses and a single DNS name for a set o

[2020-05-22 10:32] dominique-vassard opened #89 "Hiding credentials in `Bolt.Sips.info`?"
## Environment

* Elixir version (elixir -v): 1.8
* Neo4j and version (Neo4j 3.5.3, etc.): 3.5.17
* Connection scheme (`bolt://`, `bolt+routing://` or `neo4j://`): bolt://
* Bolt.Sips version (mix deps): bolt_sips, "~> 2.0"
* Operating system: Arch Linux

## Current behavior
Today `Bolt.Sips.info` returns something like this:
[code]

Wouldn't be nice to hide the credentials in it? At least when us

[2020-05-22 11:18] florinpatrascu commented on #89
Sure, it would be nice. But if you come to think about, who can really run that command? If that person has access to a running app’s shell, he can find those credentials in other places too, among many other and probably even more sensitive details, no?!

We can simply remove the auth creds when we display the info, to be pedantic, yes.

But honestly, I wouldn’t go further than that. Checking if

[2020-05-22 21:12] #89 closed, assigned to nobody

[2020-05-22 21:19] florinpatrascu commented on #89
@dominique-vassard - I added a basic sanitization, in master. HTH?!

[2020-05-23 12:06] dominique-vassard commented on #89
Nice!
You're right, that's enough to have some security for unaware people who leaves their session opened for few minutes.
It' just to make things harder for the bad guys ;)

[2020-05-29 15:21] taobojlen opened #90 "Request: guidance on parameterized queries"
Cypher supports [parameterized queries](https://neo4j.com/docs/cypher-manual/current/syntax/parameters/) to help mitigate the risk of injection attacks.

It looks like `Bolt.Sips.query/2` only takes a connection and a string, and (as far as I can tell) none of the examples in this repo use parameterized queries. Does bolt_sips support these? If so, how do we use them without resorting to string bu

[2020-05-29 15:42] florinpatrascu commented on #90
What about [query/4](https://hexdocs.pm/bolt_sips/Bolt.Sips.Query.html#query/4)? One of the tests we have, for brevity:

[code]

[2020-05-29 15:47] taobojlen commented on #90
Oh, my bad! I was searching for "parameter", so "params" didn't show up... Oops!

Thanks a lot for the fast reply :)

[2020-05-29 15:47] #90 closed, assigned to nobody

[2020-05-29 16:28] florinpatrascu commented on #90
No worries :)

[2020-05-29 18:52] dominique-vassard commented on #90
@tao-oat Keep in mind that due to deprecation Neo4j v4, it's better to use `$param` instead of `{param}`.

[2020-06-09 07:39] dominique-vassard opened #91 "Response.profile is empty with a query with "PROFILE""
## Environment

* Elixir version (elixir -v): 1.8
* Neo4j and version (Neo4j 3.5.3, etc.): 3.5.17
* Connection scheme (`bolt://`, `bolt+routing://` or `neo4j://`): bolt://
* Bolt.Sips version (mix deps): ~> 2.0
* Operating system: Arch Linux

## Current behavior
Against a filled database, I ran:
[code]
which returns:
[code]
records an results are omitted because they are right.

## Expected behavi

[2020-07-10 23:59] #91 closed, assigned to nobody

[2020-07-26 13:42] Simrayz commented on #81
Hi Florin!
Thank you for creating this library, I rely heavily on it in my startup. What is the status of 4.0 support? We don't need the functionality in it at this moment, but I'm interested in what your roadmap is :)

[2020-07-26 21:26] kristofka commented on #81
Hi,

I can’t speak for Florin, but I wanted to work on that and then I got side tracked. It’s still something that’s on my mind and I believe/hope that I’ll be able to take a stab at it by the end of September. 
--
Kristof 

26 Jul 2020, 15:42 by notifications@github.com:

[2020-07-27 00:02] florinpatrascu commented on #81
Hi @Simrayz - thank you for using our driver, and for your kind words. Was trying to get myself into the "zone" again, after the last non-trivial release we published, but had to postpone it due to other priorities; am also being very busy at my day job and currently lacking the time this new upgrade would demand. Hopefully this pandemic goes away soon and we can all find the free time and/or the

[2020-07-27 07:04] dominique-vassard commented on #81
Hi,
Glad to hear you're using the driver.
Everything has been said regarding future development for No4j 4 support.
On my part, I have enough (too much) work with [seraph](https://github.com/dominique-vassard/seraph) and my new job for now.

But you can still enjoy Neo4j 4 with bolt_sips. Apart for the streaming features, everything else is made available through Cypher (even the new subquery feat

[2020-09-07 17:50] aknicram opened #93 "(Bolt.Sips.Exception) unable to encode value: -128"
Module:  Bolt.Sips.Internals.PackStream.V1

Possible bug is here:

[code]

Example:

[code]

[2020-09-09 12:18] #93 closed, assigned to nobody

[2020-09-10 15:26] ekobi opened #95 "Outgoing SSL connection hangs, cannot be dropped and re-established"
# Precheck

* For bugs, do a quick search and make sure the bug has not yet been reported. -- check
* Finally, be nice and have fun! -- check

## Environment

* Elixir version (elixir -v):

      Erlang/OTP 23 [erts-11.0.2] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe] [dtrace]

      Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Neo4j and version (Neo4j 3.5.3, etc.):

[2020-09-12 15:16] florinpatrascu commented on #95
Yes. Any config parameters you add to the driver and they are also supported by the underlining library DBConnection, will be used to initialize the pool. For example:

[code]

For brevity, when `:idle_interval` is set and if no requests are received for the idle interval specified, the pool will ping all stale connections which can then ping the database to keep the connection alive.

Please try

[2020-09-12 15:18] florinpatrascu commented on #93
Published bolt_sips v2.0.9. Thank you for the PR ❤️

[2020-09-12 15:25] florinpatrascu commented on #86
it seems that no one else can reproduce this, can this be closed? I'll close it and we can reopen it in case we get more reports or receive any PR to address it.

[2020-09-12 15:25] #86 closed, assigned to nobody

[2020-09-15 13:23] ekobi commented on #95
Thanks for the hint, Florin.

Unfortunately the effect of applying the idle_interval setting is not readily obvious to me (from staring at WireShark traces for far too long :). I don't actually see keepalives emanating from my end, even though the connections remain stable for longer than before. Very puzzling. I'll let you know if I figure this out. Cheers,
--
kobi

[2020-09-29 04:39] ebanisadr opened #97 "Feature request: auto reconnect"
## Environment

* Bolt.Sips version (mix deps): `bolt_sips 2.0.8 (Hex package) (mix)`

## Current behavior

If the neo4j server is restarted while my application is running then all future queries fail with a message like `Port #Port<0.100> is closed`

## Expected behavior

If the connection is closed Bolt.Sips attempts to reopen the connection with the same credentials before returning an error.

[2020-10-09 12:55] florinpatrascu commented on #97
Thank you for your feedback. I was contemplating the proposed feature, and I don't believe it is a responsibility this driver should bear. Even if we'll retry to reconnect, what happens to the service layers depending on it, and to your functions making calls to the db server and failing, during that process? Your app should handle the occasional unavailability of a persistence layer - this is jus

[2020-10-09 12:55] #97 closed, assigned to nobody

[2021-02-08 21:39] ThunderHeavyIndustries opened #100 "Config field for `timeout` not reflected in query timeouts"
## Environment
* Elixir version:  1.10.4-otp-23
* Neo4j and version: 4.2.2
* Connection scheme:  bolt://localhost:7687
* Bolt.Sips version:  bolt_sips 2.0.9
* Operating system: OSX

## Current behavior
When setup with:
[code]
Running a somewhat long query (which is verified to work in the Neo4j desktop client) I'm getting timeout errors:
[code]

## Expected behavior
Changing the value in the `time

[2021-03-23 13:30] florinpatrascu commented on #100
@ThunderHeavyIndustries - can you please use the latest published release and let us know if the problem is fixed?! Thank you

[2021-03-26 04:44] ThunderHeavyIndustries commented on #100
Sure thing, I'll give it a go next week and get back to you.

[2021-03-29 17:53] ThunderHeavyIndustries commented on #100
Thanks for getting back to me on this!  I'm still experiencing the same issue/seeing the same `1500 ms` response after updating to `2.0.10`.

Maybe there's something on my end? Setup is as above. The function calls look like this:

given a `query` which is a string (again verified to work in the Neo4j Desktop client)

[code]

I also tried passing the timeout as part of the params
[code]
Which does

[2021-04-02 19:34] florinpatrascu commented on #100
yeah I am sorry, it was my fault. It should work now with 2.0.11.

Here's one easy way to test, provided you have the [APOC](https://github.com/neo4j-contrib/neo4j-apoc-procedures/) enabled:

[code]

HTH

[2021-04-03 22:04] ThunderHeavyIndustries commented on #100
ah cool ok I'll test it on monday, thanks again!

[2021-04-09 21:41] ThunderHeavyIndustries commented on #100
SO SORRY! Crazy week I'll be checking it out later today!

[2021-04-09 22:06] florinpatrascu commented on #100
No worries, please take your time :)) many thanks

[2021-04-09 22:37] ThunderHeavyIndustries commented on #100
Yes indeed updating does seem to respect the timeout when the query is run as presented, with one caveat!

This still seems to be dying with the `longer than 15000ms` error message when passed as such:
[code]
or
[code]
but this does respect the timeout whether set from the config, or passed in the params
[code]
or
[code]

[2021-04-10 00:11] florinpatrascu commented on #100
Oh that's interesting, thank you for such a thorough investigation and for the examples. I'm going to look into the transaction next, in case it is related, and will report back my findings. Many thanks again!

[2021-04-10 14:37] florinpatrascu commented on #100
I see what is going on. When you wrap your queries in transactions, Bolt.Sips delegates the call to the underlining library: **DBConnection**, including your custom  ... _options_ ;)

Please try this instead:

[code]

[2021-04-15 02:19] ThunderHeavyIndustries commented on #100
I'll give that a go tomorrow!

[2021-04-23 19:19] florinpatrascu commented on #100
please reopen, in case you find any other related issue. Thanks again!

[2021-04-23 19:19] #100 closed, assigned to nobody

[2021-05-14 12:09] sashman commented on #69
Are there any updates/breadcrumbs on this? I am facing a similar issue where I have a large number of queries failing in a transaction with:

[code]

[2021-06-18 08:23] sukidhar opened #103 "Just need some clarity about Bolt.Sips.conn"
Hello,
I started to work with elixir recently, and I am trying to experiment with this package, does the Bolt.Sips.conn() create a fresh connection every time or returns an already-existing connection if one exists

[2021-06-18 08:24] #103 closed, assigned to nobody

[2021-07-07 13:17] Anders2303 commented on #69
Irregardless of whether the rollback should be initiated by the server, could we atleast make it so the error message contains the reason the query crashes (ala the error message we got in v.2)? As it stands, I need to manually print out the error reason to see what went wrong:
[code]

[2021-11-13 19:59] mvellandi opened #104 "Connection difficulty -- Bolt.Sips.Internals.Error Port #Port<0.n> is closed"
# Precheck

* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

## Environment

* Elixir version (elixir -v):
`Erlang/OTP 24 [erts-12.1.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [jit]
Elixir 1.12.3 (compiled with Erlang/OTP 24)`
* Neo4j and version (Neo4j 3.5.3, etc.):
Aura Cloud, version 4
* Connection scheme (`bolt:/

[2021-11-14 23:46] florinpatrascu commented on #104
Hi there,

Did you try enabling `ssl`, as I suggested in reply to your DM on Twitter?

Please try adding `ssl: true` to your connection - one of the config options described in the docs and samples.

This for example, will work:

[code]
(tested)

HTH

[2021-11-14 23:46] #104 closed, assigned to florinpatrascu

[2021-11-15 00:25] mvellandi commented on #104
Yes I did. Here's the repo and the error with ssl set to true. I can post to the neo4j discord again with this error. Hmm.
https://github.com/mvellandi/neo4j_bolt.sips_demo

Maybe neo4j auto certs don't work with this library? I'm not sure how I'd add my own cert with for example Let's Encrypt, because the various instructions available assume you're self-hosting neo4j or using one of their cloud

[2021-11-15 10:47] florinpatrascu commented on #104
I also recommend using the latest `bolt_sips` version. Your demo is pointing to an old one, if I am not mistaken.

[2021-11-15 11:49] mvellandi commented on #104
Okay, updated deps from:
`{:bolt_sips, "~> 2.0.0-rc"}` to `{:bolt_sips, "~> 2.0"}`
and ran `mix deps.get` but there weren't any updates:
[code]

Thank you for your help in debugging this!! :)
Using a free managed DB is very helpful for someone like me very much in the dark on devops.
I also checked out GrapheneDB but it seems they no longer have a free tier.

[2021-11-15 12:13] florinpatrascu commented on #104
TBH it seems there's something iffy with your local env, around the certs?! But I don't know, sorry. Clearly the driver works with the hosted Aura service - tried myself last night on a fresh db (using their free tier) and had no issues at all.

Try making sure you can connect to other services requiring auth, not just Neo4j related. And if you see similar issues it may be a sign for you to needin

[2021-11-15 16:47] mvellandi commented on #104
Well, looks like multiple versions of OTP 24 built with asdf on my macOS Big Sur either aren't properly compiled, ssl isn't properly configured or working, or something else. The demo app works with OTP 23 though.

`conn = Bolt.Sips.conn()` works now

Thank you so much for your help these last days!

[2021-11-15 19:14] florinpatrascu commented on #104
Glad you found the culprit. Take care

[2022-04-21 20:56] eibarcenas commented on #8
Hi! I connect to my database in neo4j.com, can you help me so that the error does not occur? please

![error](https://user-images.githubusercontent.com/42219451/164550988-aed20f01-d541-4dc9-a2bd-82fd80480961.jpeg)

[2022-04-21 21:08] eibarcenas commented on #8
"Port {:sslsocket, {:gen_tcp, #Port<0.47>, :tls_connection, :undefined}, [#PID<0.755.0>, #PID<0.754.0>]} is closed"

I get this error when connecting to neo4j.com (aura)?
Could you help me? please

[2022-04-21 21:26] florinpatrascu commented on #8
hi please create a new issue and help us understanding more about your issue. include relevant connection details etc. Also please do not add a new report to an already closed issue that may or may not be related to yours. Thank you.

[2022-04-21 21:30] #95 closed, assigned to nobody

[2022-04-21 21:30] #81 closed, assigned to nobody

[2022-04-21 22:11] eibarcenas commented on #8
I do exactly what is said.
I connect to a database called aura from neo4j.com

After some time of inactivity I get an error.

[code]

[code]

[code]

[2022-04-22 17:59] florinpatrascu commented on #8
Hi there - as I was replying to your email, I tried to create a connection to the service you mentioned and it works as expected, with the current driver version. My connection config:

[code]

Please adapt the config above to your own connection details and try again. Notice please the use of `url`

[2022-04-24 07:15] sukidhar commented on #69
I am experiencing similar crash, when query fails. anything to resolve this ?

[2022-04-24 08:25] sukidhar commented on #69
Did you find any solution ?

[2022-04-24 14:05] florinpatrascu commented on #69
No. PRs are very welcome.

[2022-06-18 06:06] Papillon6814 opened #105 "Connection loses after a while: ** (Bolt.Sips.Exception) Port {:sslsocket, {:gen_tcp, #Port<0.25>, :tls_connection, :undefined}, [#PID<0.2789.0>, #PID<0.2786.0>]} is closed"
# Precheck

* For bugs, do a quick search and make sure the bug has not yet been reported.
* Finally, be nice and have fun!

## Environment

* Elixir version (elixir -v): 1.13.4
* Neo4j and version (Neo4j 3.5.3, etc.): 4
* Connection scheme (`bolt://`, `bolt+routing://` or `neo4j://`): bolt://neo4j-*****.neo4j.io:7687
* Bolt.Sips version (mix deps): 2.0
* Operating system: Alpine (Docker) for Goog

[2022-06-18 06:17] Papillon6814 commented on #105
The config is like this:

[code]

I tried to add `retry_linear_backoff`. But it did not work.

[2022-06-18 13:11] florinpatrascu commented on #105
Hi there,

`retry_linear_backoff` can be used but not w/o much help, w/o understanding the real cause.

A little more detail would help. For example if you connect to a neo4j cluster, and if so what type of connection do you use when you discover the timeout; read/write, routing and so on.

An error stack with more details than you provided may give a better idea of the error.

I'm curious if othe

[2022-06-19 13:14] Papillon6814 commented on #105
Thank you for your the reply.
The error log in App Engine is this:

[code]

I continue researching the factor of the issue, if i find a solution, I write it here.
Thank you.

[2022-06-24 11:33] Papillon6814 opened #106 "Is routing mode enabled with neo4j+s protocol?"
Hello. I have a question.
I set a url like below for connecting to a cluster database in AuraDB

[code]

The url starts with "neo4j+s" and not "neo4j". Then my `Bolt.Sips.conn()` would be:

[code]

I think it is `direct` mode, but I think I need to connect as `routing` mode when I connect to a cluster. How to do it?
Thank you.

[2022-06-24 11:45] florinpatrascu commented on #106
Hi there. From the docs:

`:url`- a full url pointing to a running Neo4j server. Please remember you must specify the scheme used to connect to the server. Valid schemes: `bolt`,`bolt+routing` and `neo4j` - the last two being used for connecting to a Neo4j causal cluster.

`neo4j` will suffice. I believe their "+s" stands for secure?! But I am not familiar with that. Just make sure you enable ssl,

[2022-06-24 11:54] Papillon6814 commented on #106
Thank you for the prompt response!
So, `neo4j+s` protocol cannot enable routing mode, can it?

[2022-06-24 12:59] florinpatrascu commented on #106
of course, np.

There is no mention of `neo4j+s`, in our docs, is it?! ;) When the user is configuring the driver with a schema we do not recognize/support, the driver defaults to `:bolt` - aka the `:direct` (non-cluster) mode. Maybe that's what you were experiencing when you mentioned the timeout story, but the info provided was insufficient to conclude the possible reason.

[2022-06-24 13:09] florinpatrascu commented on #105
_maybe related to: https://github.com/florinpatrascu/bolt_sips/issues/106#issuecomment-1165551286_ ??

[2022-06-24 13:30] Papillon6814 commented on #106
I got it, thank you for the information. It really helps me!

I had thought `neo4j+s` protocol was famous because it is a default protocol if we create a database instance in AuraDB. (AuraDB is a partner of GCP) But is it not so famous actually?

[2022-06-24 23:34] florinpatrascu commented on #106
It's simpler than you think. At the time when I implemented the support for connecting to a cluster, `neo4j+s` was not yet a thing :)

[2022-06-25 02:55] Papillon6814 commented on #106
I got it! Okay, thank you for telling me them.

[2022-06-25 02:55] #106 closed, assigned to nobody

[2022-06-25 03:01] Papillon6814 commented on #105
Hmm I'm not sure, sorry.
I close this issue. If I found any solutions for it, I put the information here.

[2022-06-25 03:01] #105 closed, assigned to nobody

[2022-07-05 22:35] zediogoviana opened #107 "Prepared statements for queries when not possible to use parameters"
Hey 👋
What do you think about a prepared statement function for queries, when parameters are not possible to use, for example in [this case](https://neo4j.com/developer/kb/protecting-against-cypher-injection/#_when_you_must_append_into_a_query_string_sanitize_your_inputs)?

Something that would make it possible to do the following in a safe manner:

[code]

Does it make sense to add a mechanism to

[2022-10-22 15:15] florinpatrascu commented on #107
Personally I'm inclined to let the user decide what's best for their app from a security perspective. But if you have a proposal to make it easier for him to integrate with this driver, then I'm all for it. Thank you.

[2022-10-22 15:39] florinpatrascu opened #109 "Looking for new maintainers"
Hi there,

As you may have noticed, the project has been stalled for some time. The main reason for this is me.

I don't have time to pursue neo4j anymore and besides, I don't use it that much. neo4J is an exciting technology, I still remember spending many long nights and 2 whole vacations designing and building this driver, I don't regret a second because I learned a lot and this project helped

[2022-10-22 15:44] kristofka commented on #109
Hi Florin,

I’m looking into using neo4j in large-ish project. 
I don’t know that I could become a maintainer, but I could certainly contribute more than I have in the past couple of years. If no one is interested, I need this library to be maintained so I could help taking on that role. 
Thank you for your work. 

--
Kristof Semjen
PGP KEY :  0CADA5225BF34510
https://keys.openpgp.org/vks/v1/by-fi

[2022-10-22 15:49] kristofka commented on #109
PS, let me know if you’re interested about my ideas regarding what I’d like to implement in the next few months. 
Cheers

--
Kristof Semjen
PGP KEY :  0CADA5225BF34510
https://keys.openpgp.org/vks/v1/by-fingerprint/AF2A59051AF71944934E4C090CADA5225BF34510

22 Oct 2022, 17:39 by ***@***.***:

[2022-10-22 17:45] florinpatrascu commented on #109
Hi @kristofka - glad to hear that you are still interested in this field, and I wish you success with your project you mentioned above. For ideas, perhaps it would be good to convert them into a series of public proposals and share them with the community here in the form of improvements, or with the future team of maintainers.

[2022-10-22 17:47] kristofka commented on #109
Will do by the end of next week. 
--
Kristof Semjen
PGP KEY :  0CADA5225BF34510
https://keys.openpgp.org/vks/v1/by-fingerprint/AF2A59051AF71944934E4C090CADA5225BF34510

22 Oct 2022, 19:45 by ***@***.***:

[2022-10-22 20:23] zediogoviana commented on #107
Yep, to be honest I'm also not sure if this should exist in the driver or just managed by the end user.

So, to give a bit more context, I've got a small personal project that sometimes needs labels to be passed as a variable to the function that calls the query, and I'm using something like this:

[code]

Where the `prepared_statement` function just escapes `'` characters from the values passed a

[2022-10-23 17:08] Papillon6814 opened #110 "Neo4j version 4 support"
Hello.
As written in README, `bolt_sips` does not compatible with neo4j version 4.

So when I run `mix test` with version 4.4.12, one test does not work.
Can I work on this issue and send a PR? Because I'd like to use this library for my project. Thank you.

[2022-10-23 17:33] florinpatrascu commented on #110
sure. Also specifying which "one test" doesn't work, would help clarifying the context better next time.

[2022-10-23 17:52] florinpatrascu commented on #107
sure, I don't see why not ¯\\_(ツ)_/¯

Maybe introduced gradually first, as a utility kind of function?! And have some examples documented around it.. then promote it to the Query itself, based on user's interest

.. something like that.

[2022-10-24 14:14] Papillon6814 commented on #110
Hello, thank you for the reply!
[code]

This test does not work in version 4.4.12. thank you.